{% extends "base.html" %}
{% load material_form %}
{% load static %}
{% block title %}edit{% endblock %}

{% block content %}
  <div class="container contaier-fluid">
      <div class="row">
          <div class="col-sm-2">

          </div>

          <div class="col-sm-8 form-container" style="padding-top: 16px; padding-bottom: 16px">
              {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">
                            {{ message|safe }}
                                <a href="#" class="close">✖</a>
                            </li>
                            {% endfor %}
                            </ul>
              {% endif %}

              <form method="post" action="{% url 'accounts:edit' user.id %}" enctype="multipart/form-data" class="viewform">
                  {% csrf_token %}
                   {{ profile_form.media }}
                  {% form form=user_form %}{% endform %}
                  {% form form=profile_form %}{% endform %}


                  <button type="submit" name="_submit" class="btn">Submit</button>
              </form>

             <div class="row text-center" style="padding-left: 40%">
                 <div class="password-change">
                    <a href="{% url 'password_change' %}"><span class="glyphicon glyphicon-lock"></span>Change Password</a>
                 </div>
             </div>

          </div>
          <div class="col-sm-2">

          </div>

      </div>

  </div>

        {% block extrajs %}
            <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
            <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
        {% endblock %}
{% endblock %}