{% extends "base.html" %}
{% load notifications_tags %}
{% load static %}


{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top: -110px">
    <div class="row profile-pics" style="padding-bottom: 15px;">
        <div class="col-xs-1 col-md-1">

        </div>
        <div class="col-xs-8 col-md-8 img-responsive cover-image left-sidebar" style="height: 520px; border-bottom: 1px solid rgba(0, 0, 0, .4)">
            {% if user.profile.cover %}
                <a href="#"> <img src="{{ user.profile.cover.url }}" class="cover-image img-responsive"></a>
            {% else %}
                <a href="#"> <img src="{% static 'images/default/default_cover.png' %}" class="cover-image img-responsive"></a>
            {% endif %}
        </div> <!-- end of cover image -->

        <div class="row">
            <div class="col-xs-2 col-md-2 profile-image-cover" style="z-index: 2">
                {% if user.profile.photo %}
                    <a href="#"><img src="{{ user.profile.photo.url }}" class="inner img-responsive"></a>
                {% else %}
                    <a href="#"><img src="{% static 'images/default/default_profile.png' %}" class="inner img-responsive"></a>
                {% endif %}

            </div>



        </div> <!-- end of profile image -->

        <div class="col-xs-3 col-md-3">
        </div>


    </div> <!-- end of profile pics row -->

    <!--Sub menu here -->
    <div class="row" >
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-6 col-md-6  container-fluid user-profile-menu">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                <li><a>Active Auctions</a></li>
                <li><a>New Auctions</a></li>
                <li><a>Three</a></li>
                <li><a>Four</a></li>
            </ul>
            </nav>
        </div>
    </div> <!-- end of submenu container -->

</div> <!-- end of main container -->

{% endblock %}

