{% extends "base.html" %}
{% load auction_tags %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="page-heading container-fluid">
        <div class="text-center ">
            <h5>{{subcat2}}</h5>
        </div>
    </div>

    <ul class="breadcrumb">
              <li>
                <a href="{% url 'pages:home' %}">Home</a>
              </li>
              <li>
                <a href="{% url 'auctions:list' %}">items</a>
              </li>

              <li>
                <a href="{% url 'auctions:list' %}">{{subcat2}}</a>
              </li>
    </ul>

    <div class="row main-product-list-row">

        <div class="col-xs-12 col-sm-12 col-md-12 category-detail">
            {% for auction in subcat2.sub_products2.all %}
              <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                  <div class="thumbnail box">
                        {% with auction.image.all|first as image %}
                            {% if image.image %}
                                <a href="{% url 'auctions:bid' auction.id %}"><img class="group list-group-image" src="{{ image.image.url }}" alt="" /></a>
                            {% else %}
                                <a href="{% url 'auctions:bid' auction.id %}"><img class="group list-group-image" src="{% static 'images/no_image.png' %}" alt="" /></a>
                            {% endif %}
                        {% endwith %}
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">{{ auction.item }}</h4>
                            <p class="group inner list-group-item-text"></p>
                            <div class="row">
                                <div class="col-xs-12 col-md-12 text-center">
                                    <p class="lead">N{{ auction.get_current_price }}</p>
                                </div>
                            </div> <!-- end of row class for price and bid -->
                            {% if auction.place_on_auction %}
                                <div class="row myClock" style="margin-top: -49px" data-action='{{ auction.end_time|to_json }}'>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 days"></div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hours"></div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 minutes"></div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 seconds"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">Days</div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">Hours</div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">Minutes</div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">Seconds</div>
                                    </div> <!-- counter text ends here -->
                                </div>
                            {% endif %}
                        </div>
                        <!-- end of caption -->
                    </div> <!-- end of thumbnail -->
                </div>
            {% endfor %}

        </div>
        <!-- end of category detail -->
    </div>

</div>

{% endblock %}