<!--{% load bootstrap3 %}-->
{% load staticfiles %}
{% load static %}
{% load auction_tags %}
{% load notifications_tags %}
{% load auction_tags %}
{% load page_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">

    <title>{% block title %}{% endblock %}</title>

    {% block head %}
        <!--<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.flipcountdown.css' %}" />-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="{% static 'css/home.css' %}" rel="stylesheet">
        <!--<link rel="stylesheet" href="{% static 'css/flipclock.css' %}">-->
        {% include 'material/includes/material_css.html' %}
        <link  href="{% static 'css/owlcarousel/owl.carousel.min.css' %}" rel="stylesheet">
        <link  href="{% static 'css/owlcarousel/owl.theme.default.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
        <!--<link href="{% static 'selectable/css/dj.selectable.css' %}" type="text/css" media="all" rel="stylesheet">-->
        {% block extrahead %}{% endblock %}
    {% endblock %}
</head>

<body>
<div class="main-header-container">
   <div class="navbar navbar-default "  id="main-header" style="z-index: 3">
       <div class="container-fluid header-content">
           <div class="navbar-header">
               <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
               <!--</button>-->
               <a class="navbar-brand text" href="{% url 'pages:home' %}" style="color: #fff;"><img src="{% static 'images/background/logo.jpg' %}" class="img-responsive logo">
                   <span class="logo-text" style="z-index: 4">IA STORE</span>
                   <span style="position: absolute;left: 6%; top: 53px; font-family: Helvetica; font-size: 9px">SHOP BETTER LIVE BETTER</span>
               </a>
           </div>

       <!--<div class="collapse navbar-collapse container-fluid" id="myNavbar" style="width: 100% !important; overflow: hidden">-->
           <ul class="nav navbar-nav navbar-right right-header">
                    <!--<li>-->
                        <!--<i class="fa fa-shield text" aria-hidden="true"><span>Buyer Protection</span></i>-->
                    <!--</li>-->

                    <!--<li>-->
                        <!--<img src="{% static 'images/nigeria_flag.gif' %}" class="img-responsive nigeria-flag">-->
                        <!--<span class="text flag-text">NIG</span>-->
                    <!--</li>-->
                    {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
                    {% notifications_unread as unread_count %}
                    <li class="dropdown pagination-centered bell">
                        <a href="#" class="dropdown-button notification-badge" data-activates="dropdown2" style="padding-left: 0; padding-right: 0">

                             {% if not request.user.is_authenticated %}
                                <i class="glyphicon glyphicon-bell" onclick="loginalert()">
                                    <span class="notification-count text-center" style="color: #fff; background: #990000">0</span>
                                </i>
                            {% endif %}
                            {% if  request.user.is_authenticated and unread_count > 0%}
                                <i class="glyphicon glyphicon-bell" data-action="{{request.user}}">
                                    <div class="notification-count text-center" style="color: #fff; background: #990000">{% live_notify_badge %}</div>
                                </i>
                            {% elif  request.user.is_authenticated and unread_count == 0 %}
                                <i class="glyphicon glyphicon-bell" data-action="{{request.user}}">
                                    <div class="notification-count text-center" style="color: #333">{% live_notify_badge %}</div>
                                </i>
                            {% endif %}
                        </a>


                   <!--if there is an unread notification, show dropdown -->
                        {% if request.user.is_authenticated %}
                                <ul id="dropdown2" class="dropdown-content notifications list-group">
                                    <li class="list-group-item">
                                            <!--<div class="notification-heading" >-->
                                                <table style="border: none" >
                                                    <tr >
                                                        <td class="user-notifications menu-title" data-action="{{request.user}}"><a href="#"><span class="glyphicon glyphicon-remove-sign"></span>Mark All as Read</a></td>

                                                    </tr>
                                                </table>
                                            <!--</div>-->
                                    </li>
                                    <!--<li class="divider"></li>-->

                                         <!-- left so for testing purposes -->
                                        {% notifications_unread as unread_count %}
                                        {% if unread_count %}
                                             {% for notification in user.notifications.unread %}
                                                <li class="notification-dropdown-li list-group-item">
                                                        <div class="row no-gutter all-notifications" style="margin-bottom: 0px !important; margin-top: 0px !important;">
                                                            <div class="col-xs-2 col-md-2 col-sm-2 notification">
                                                                {% if notification.actor.profile.photo %}
                                                                    <img src="{{ notification.actor.profile.photo.url}}" class="img-responsive small-image">
                                                                {% else %}
                                                                    <img src="{% static 'images/no_image.png' %}" class="img-responsive small-image">
                                                                {% endif %}
                                                                <!--<p></p>-->
                                                            </div>

                                                            <div class="col-sm-8 col-xs-8 col-md-8 notification text-center notification-text" >
                                                                <p>
                                                                    <a href="{{notification.actor.get_absolute_url}}" >{{ notification.actor}}</a>  {{ notification.verb }}
                                                                     {{ notification.timesince }} ago
                                                                </p>


                                                            </div>

                                                            <div class="col-xs-2 col-sm-2 col-md-2 notification" style="padding-right: 0 !important;">
                                                                {% if notification.target %}
                                                                    {% with notification.target.image.all|first as image %}
                                                                        {% if image.image %}
                                                                            <a href="{% url 'auctions:bid' notification.target.id %}">
                                                                                <img src="{{ image.image.url}}" class="img-responsive small-image">
                                                                            </a>
                                                                        {% else %}

                                                                            <a href="{% url 'auctions:bid' notification.target.id %}">
                                                                                <img src="{% static 'images/no_image.png' %}" class="img-responsive small-image">
                                                                            </a>
                                                                        {% endif %}
                                                                    {% endwith %}

                                                                {% endif %}
                                                                <span class="glyphicon glyphicon-remove-circle mark-as-read" data-id="{{notification.id}}" id="{{notification.id}}"></span>
                                                            </div>


                                                        </div>  <!-- end the div row -->
                                                    </a>
                                                </li>
                                            {% endfor  %}
                                        {% endif %}<!-- end if uncread_count -->
                                </ul>
                        {% endif %}
               </li> <!-- end of notification -->

                     <!--<li class="ad"><a href="#"><button type="button" class="btn btn-primary btn-xs" href="#"  id="post-ad">Post Ad</button></a></li>-->
                    <!--<ul>-->

                        <li class="watch-list-li">
                            <a {% if request.user.is_authenticated %}href="#WatchList" {% else %} href="{% url 'accounts:login' %}" {% endif %} class="watchlist"><span class="glyphicon glyphicon-heart text"><span>Watch <span>List</span></span></span></a>
                        </li>



                        {% if not request.user.is_authenticated %}
                            <li class="user-loggedout-li"><a  href="{% url 'accounts:login' %}" class="text user-loggedout"><span class="glyphicon glyphicon-user"><span class="register"> Signinto  IASTORE</span></span></a></li>

                            <!--<li><a href="{% url 'accounts:login' %}" class="login text"><span style="font-size: 10px !important; font-weight: 300"> sign in or</span></span></a></li>-->
                        {% endif %}

               <!--<li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>Shop</a></li>-->
             {% if request.user.is_authenticated %}

               <!--Drop down profile showing user's informaton -->



               <li class="list-unstyled user-logged-in-li" style="padding-left: 15px">
                     <a class='dropdown-button user-logged-in' href='#' data-activates='dropdown1' style="padding-left: 0; padding-right: 0">
                        <span class="glyphicon glyphicon-user" style="color: #F3DAA0;"></span>
                    </a>

                     <ul id="dropdown1" class="dropdown-content">
                            <li><a href="{{ user.get_absolute_url }}" class="profile-dropdown-li">User<span class="pull-right"><img src="{{request.user.profile.photo.url}}" class="img-responsive img-circle" style="width: 26px; height: 26px"></span></a></li>
                            <li><a href="{% url 'accounts:edit' request.user.pk %}" class="profile-dropdown-li">Profile settings<span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                            <li><a href="{% url 'accounts:logout' %}" class="profile-dropdown-li"><span class="glyphicon glyphicon-log-out pull-right"></span>Logout</a></li>
                            <li><a href="#!" class="profile-dropdown-li">Items<span class="badge pull-right" style="color: #EDF3FE">{% total_auctions request.user %}</span></a></li>
                     </ul>
                </li>
             {% endif %} <!-- end user authenticated -->
           </ul>

       <!--</div> &lt;!&ndash; end of nav-bar container &ndash;&gt;-->
   </div>
   </div>
</div>

<!--Search-->

<div class="search">
    <div class="navbar navbar-default search-box-container row">
       <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2 col-xl-2">

       </div>
       <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 text-center search-form">
           {% search_form %}
       </div>
       <div class="col-sm-2 col-md-2 col-sm-2">

       </div>
        <div class="row home-page-auctions">
            <div class="col-xs-0 col-sm-3 col-md-3"></div>
            <div class="col-xs-12 col-sm-2  col-md-2">
                 <a href="{% url 'auctions:list' %}" class="text">All Items</a>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2" >
               <a href="{% url 'auctions:add_new_auction' %}" class="text">Add  Item</a>
            </div>
            <div class="col-xs-0 col-sm-3 col-md-3"></div>


        </div>
   </div>
</div>
{% if request.user.is_authenticated %}
<div class="modal modal-fixed-footer" id="WatchList">
    <div class="modal-content">
        <h4 class="text-center">Watch List</h4>
        <!--{% for i in detail.html %}-->
        <!--{{i.product}}-->
        <!--{% endfor %}-->
        <!--{{detail.html}}-->
        <ul class="collection">
            {% watch_list request.user as lists %}
            {% for list in lists %}
            {% for item in list.items.all %}
            <div class="watch-list-content">
                <li class="collection-item avatar" id="{{item.id}}">
                    {% with item.image.all|first as image %}
                        {% if image.image %}
                            <a  href="{% url 'auctions:bid' item.id %}">
                                <img  class="circle img-responsive" src="{{ image.image.url }}" alt="">
                            </a>
                        {% else %}
                            <a  href="{% url 'auctions:bid' item.id %}">
                               <img class="circle img-responsive" src="{% static 'images/no_image.png' %}">
                            </a>
                        {% endif %}
                    {% endwith %}
                    <span class="title">{{ item}}</span>
                    <p><a href="{{ item.creator.get_absolute_url }}">{{ item.creator }}</a></p>
                    <p class="lead">{% if item.place_on_auction %}current Bid at {% else %}Price{% endif %} </p>
                    <p class="lead">
                        <span class="naira"><img src="{% static 'images/currency_sign.png' %}" class="img-responsive"></span>
                        <span>{{ item.get_current_price }}</span>
                    </p><br />
                    <p><span class="watch-auction" data-action="unwatch" data-id="{{item.id}}">Unwatch</span></p>
                    <a href="#" class="secondary-content">
                        <i class="material-icons">grade</i>
                    </a>
                </li>
            </div>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    <div class="modal-footer" >
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
<!--Modal3 ends here -->
<!--End of search -->
{% endif %}
    <div class="container-fluid body-content">
        {% block content %}

        {% endblock %}
    </div>


   <footer class="section section-primary main-footer">

       {% block js %}
            <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
             <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
             <script src="{% static 'js/jquery.matchHeight.js' %}" type="text/javascript"></script>
             <script src="{% static 'js/jquery.formset.js' %}" type="text/javascript"></script>
                <script>
                    $('.image-formset').formset({
                       addText: 'Add',
                       deleteText: 'remove',
                       addCssClass: 'add',
                       deleteCssClass: 'del'

                    });
                </script>

             <script src="{% static 'js/smart-selects/admin/js/chainedfk.js' %}"></script>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            {% include 'material/includes/material_js.html' %}

            <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
            <!--<script src="{% static 'material/js/jquery.js' %}"></script>-->



            <!--<script src="{% static 'js/countdown.js' %}"></script>-->
            <script src=" http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
            <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
            <script type="text/javascript" src="https://simplewebrtc.com/latest-v2.js"></script>
            <script src="{% static 'js/owlcarousel/owl.carousel.min.js' %}"></script>
            <!--<script src="{% static 'django_select2/django_select2.js' %}"></script>-->
            <!--<script>-->
                <!--var csrftoken = $.cookie('csrftoken');-->
                    <!--function csrfSafeMethod(method) {-->
                    <!--// these HTTP methods do not require CSRF protection-->
                    <!--return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));-->
                    <!--}-->
                    <!--$.ajaxSetup({-->
                    <!--beforeSend: function(xhr, settings) {-->
                    <!--if (!csrfSafeMethod(settings.type) && !this.crossDomain) {-->
                    <!--xhr.setRequestHeader("X-CSRFToken", csrftoken);-->
                    <!--}-->
                    <!--}-->
                    <!--});-->
            <!--</script>-->
            <script src="{% static 'js/home.js' %}"></script>
            <script>
                $(document).ready(function() {

                    $('#cat-select').on('change', function () {
                        var selectedopt = $(this).find('option:selected')
                        var selectedval = selectedopt.val()
                        var options = ''
                        var cat_name = selectedopt.text()

                        $.post("{% url 'auctions:select-by-category' %}",
                                {category: cat_name},
                                function (data) {
//                                    alert(data)

//                                    var json_data = $.parseJSON(data)


                                     $('#sub-cat-select').each(function(){
                                         $('#sub-cat-select option').remove()
                                     })
                                    for (i = data.length -1; i >= 0; i--){

//
                                        options += ('<option  value="' + data[i] + '">'+ data[i] + '</option>')

                                    }

                                  $('#sub-cat-select').append(options)
//
                                });

                    }).change()

                    $("#sub-cat-select").change(function(){
                         var subcat = $(this).find('option:selected').val()
                         var options = ''

                        $.post("{% url 'auctions:select-by-subcat'%}",
                                {
                                    subcat:subcat
                                },

                                function(data){
//                                    alert(data)

                                    $("#sub-cat-select2").each(function(){
                                        $("#sub-cat-select2 option").remove()
                                    })

                                    for (i = data.length -1; i >= 0; i--){

                                        options += ('<option  value="' + data[i] + '">'+ data[i] + '</option>')

                                    }

                                    $('#sub-cat-select2').append(options)
                                }

                        )



                    }).change()

                    $('.cat-list').hover(function(){
                         var el = $('#subcats');
                         var current_cat = $(this).data('action');
                         $(this).append(el)
                            el.css('display', 'inline-block')
                            el.css('position', 'absolute')
                            el.css('z-index', '3')
                    $.post("{% url 'auctions:subcats-for-cats' %}",
                        { cat:current_cat},
                        function(data) {
                            el.empty()
                            if (jQuery.isEmptyObject(data)){
                                el.css('display', 'none')
                            }
                            var items_array = []

                            for (val in data){
//                                alert(data[val])
                                id_val = val
                                json_parsed_items = JSON.parse(data[val])
//                                alert(json_parsed_items)
                                 var heads = $('<div class="col-md-4" id="' + id_val +'" style="color: white !important;"></div>')
                                 heads.append('<h6 style="border-bottom: 1px solid #337ab7; text-transform: capitalize">' + val + '</h6>')
                                 items_array.push(json_parsed_items)
                                 item_ids = val + 'item'
                                 el.append(heads)

                                 item = $('<div class="list-group row"  id="' + item_ids + '"></div>')


                                for (i in json_parsed_items ){
//
                                    item_slug = json_parsed_items[i]["fields"]["slug"]
                                    item_key = json_parsed_items[i]["pk"]
                                    var url = "{% url 'auctions:subcat2_detail' 12 13 %}".replace(12, item_key).replace(13, item_slug)
//                                    var url = "{% url 'auctions:bid' 13 %}".replace(12, item_key)
//                                    alert(url)
                                    link = $('<a class="" style="color: white !important; display: block; padding: 6px" href="' + url+ '" >'+ json_parsed_items[i]["fields"]["name"] + '</a>')
                                    item.append(link)
                                }

                                if (item.attr('id').includes(heads.attr('id'))){
                                    heads.append(item)
                                }


                            }





                    })

                    },
                        function(){
                            //$( this ).find( '.sub-cat-on-hover:last' ).remove();
                            $( this ).find( '#subcats' ).css('display', 'none')
                        }
                    );

//                    End of hover display function



                    $('.follow-button').click(function(e){
                        e.preventDefault

                        $.post('{% url "accounts:follow" %}',
                                {
                                    id: $(this).data('id'),
                                    action:$(this).data('action')

                                },

                                function(data){
//                                    alert(data['status'])
                                    if (data['status'] == 'ok'){
                                        var prev_action = $('.follow-button').data('action');

//                                        toggle action

                                        $(".follow-button").data('action',
                                        prev_action == 'follow' ? 'unfollow': 'follow')

//                                        Toggle the link text
                                        $('.follow-button').text(
                                                prev_action == 'follow' ? 'Unfollow': 'Follow'
                                        )

//                                        Update total followers

                                        var prev_followers = parseInt($('.followers-count .total-followers').text());
                                            $('.followers-count .total-followers').text(prev_action == 'follow' ?
                                            prev_followers + 1: prev_followers -1);
                                    }
                                }
                        )
                    })

//                    Watch auction function


                    $('.watch-auction').click(function(e){
                        e.preventDefault
//                            alert($(this).data('id'))
//                        alert($(this).find('.action').text())
                        $.post('{% url "shopping-cart:watch" %}',
                                {
                                    id: $(this).data('id'),
                                    action: $(this).data('action')
                                },
                                function(data){
//                                    alert("I am working")
//                                    alert($(this).attr('class'))

//
                                        if (data['status'] == 'ok'){
                                            id = String(data['id'])
//                                            alert(id)
//                                            Toggle the data
                                           var  prev_action = $('#' +id).data('action')
//                                            alert(prev_action)
//                                            alert(id)

                                            $('#' +id).data('action',
                                            prev_action == 'watch' ? 'unwatch' : 'watch')

//                                            Toggle the text

                                            $('#' +id).text(
                                                    prev_action == 'watch' ? 'Unwatch': 'Watch'
                                            )



                                        }
                                }
                        )
                        id = $(this).data('id')
                        $('.watch-list-content').find("#" +id).fadeOut(1000)
                    }
                    )


                    $('.all-notifications').mouseover(function(){
                            $('.mark-as-read').each(function(){
                                $(this).css('display','inline-block')
                            })
                        })

                    $('.all-notifications').mouseout(function(){
                            $('.mark-as-read').each(function(){
                                $(this).css('display','none')
                            })
                        })

                     $('.mark-as-read').click(function(){
//                         alert('I am clicked')
//                         id = $(this).data('id')
                            var el_id = $(this).data('id')

                         $.post('{% url "auctions:mark-as-read" %}',
                                 {
                                     id:$(this).data('id')
                                 },

                                 function(data){
//                                     alert(data['status'])

                                     if (data['status'] == 'ok'){
                                        $("#" + el_id).fadeOut(1000)
                                     }
                                 }


                         )
                     })


                    $('.user-notifications').click(function(){
//                            alert('i am clicked')
//                        alert($(this).data('action'))

                         $.post('{% url "auctions:mark-all-as-read" %}',
                                 {
                                     recipient: $(this).data('action')
                                 },

                                 function(data){
//                                     alert(data['status'])
                                 }
                         )

                    })

                     $('.close').click(function(){
                        $('.messages').fadeOut(1000)
                    })



//                    Initialize the modal plugin
                     $('.modal').modal({
                            dismissible: true, // Modal can be dismissed by clicking outside of the modal
                            opacity: .5, // Opacity of modal background
                            inDuration: 400, // Transition in duration
                            outDuration: 400, // Transition out duration
                            startingTop: '4%', // Starting top style attribute
                            endingTop: '10%',
                     });

                    $("#auction").on('change', function(){

//                        $(this).find('option:first-child').remove()
                        var selected = $(this).find('option:selected').val()

                        var start = $("#start_time")
                        var startlabel = $("label[for='"+start.attr('id')+"']")
                        var end = $("#end_time")
                        var endlabel = $("label[for='"+end.attr('id')+"']")
                        var price = $("#start_price")
                        var pricelabel = $("label[for='"+price.attr('id')+"']")

                        if ((selected == '1') || (selected == '2')){
                            start.prop('required', true)
                            end.prop('required', true)
                            price.prop('required', true)

                            if (!start.is(':visible') && !startlabel.is(':visible')){
                                start.fadeIn(1000)
                                startlabel.fadeIn(1000)

                            }
                            if (!end.is(':visible') && !endlabel.is(':visible')){
                                end.fadeIn(1000)
                                endlabel.fadeIn(1000)
                            }

                            if (!price.is(':visible') && !pricelabel.is(':visible')){
                                price.fadeIn(1000)
                                pricelabel.fadeIn(1000)
                            }
                        }

                        else{

                            start.prop('required', false)
                            end.prop('required', false)
                            price.prop('required', false)

                            start.fadeOut(1000)
                            startlabel.fadeOut(1000)
                            end.fadeOut(1000)
                            endlabel.fadeOut(1000)
                            price.fadeOut(1000)
                            pricelabel.fadeOut(1000)




                        }
                    })

//                    Match column heights to avoid unequal height issue in bootstrap

                    $(".box").matchHeight()

//                    image upload for budget plan

                    $("#upload").change(function(){
                       $("#uploadFile").attr('value', $(this).val())
//                        alert($("#uploadFile").val())
                    })

                    $(".delete_item").click(function(e){
                        e.preventDefault()
                        var id = $(this).data('id')
                        var action = $(this).data('action')
                        var r = confirm('Are you sure you want yo delete this item'.replace('item', action))


                        $.post("{% url 'auctions:delete_budget' %}",
                                {
                                    id: id,
                                    confirm:r,
                                    action:action,
                                },

                                function(data){
                                    if (data['status'] == 'ok'){
                                        alert('item deleted successfully'.replace('item', action))
                                        $("#" + id).fadeOut(1000)
                                    }
                                }

                        )
                    })


//                    $('.formset-container').formset({
//                              addText: 'add',
//                              deleteText: 'remove'
//                    });


                    function getCookie(name) {
                        var cookieValue = null;
                        var i = 0;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (i; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    var csrftoken = getCookie('csrftoken');

                    function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    }
                    $.ajaxSetup({
                        crossDomain: false, // obviates need for sameOrigin test
                        beforeSend: function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type)) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    });
                })

                function loginalert(){
                        alert('Please Login')
                    }


            </script>


            {% block extrajs %}{% endblock %}

   <div class="footer-container">
       <div class="footer">
           <div class="footer-header text-center">
                <a href="#main-header" style="color: #0a0a0a !important; font-weight: bold">Back to Top</a>
           </div>

       <div class="row footer-content">
           <div class="col-xs-0 col-sm-2 col-md-2">

           </div>

           <div class="col-xs-12 col-sm-8 col-md-8 ">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 left-footer-content text-left">
                        <ul class="list-unstyled">
                             <li><a href="{% url 'pages:about' %}">Know More About Us</a></li>
                             <li><a href="{% url 'auctions:list' %}">IA Devices</a></li>
                             <li><a href="{% url 'pages:contact' %}">Contact Us</a></li>
                             <li><a href="{% url 'pages:terms' %}">Terms of Use</a></li>
                             <li><a href="#">Feebback</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 middle-footer-content text-left">
                        <ul class="list-unstyled">
                             <li><a href="{% url 'pages:make-money' %}">Make Money With Us</a></li>
                             <li><a href="{% url 'auctions:add_new_auction' %}">Sell With IA Store</a></li>
                             <li><a href="{% url 'pages:partner' %}">Partner With IA Store</a></li>
                             <li><a href="{% url 'pages:advertise' %}">Advertise With IA Store</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 right-footer-content text-left">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'pages:help' %}">Get Help</a></li>
                             <li><a href="{% url 'accounts:login' %}">Your Account</a></li>
                             <!--<li><a href="#">Buyer Protection</a></li>-->
                        </ul>
                    </div>

                </div>
           </div>


           <div class="col-xs-0 col-sm-2 col-md-2">
           </div>

       </div>
           <!--End of footer content -->

      <div class="row footer-subcontent" style="">
          <div class="col-xs-0 col-sm-1 col-md-1 text-left">

          </div>

          <div class="col-xs-12 col-sm-10 col-md-10">
              <h6 class="text-left" style="padding-left: 41%; margin-bottom: 30px">Coming Soon</h6>
              <div class="row">
                  <div class="col-xs-4 col-sm-2 col-md-2 text-left">
                        <ul class="list-unstyled">
                           <li class="heading"><a>IA Music</a></li>
                           <li class="text-left content"><a>Stream <br>Millions<br>of Music</a></li>
                        </ul>
                  </div>

                  <div class="col-xs-4 col-sm-2 col-md-2 text-left">
                        <ul class="list-unstyled">
                           <li class="heading"><a>IA Movies</a></li>
                           <li class="text-left content"><a>Stream<br>Download<br>Movies</a></li>
                        </ul>
                  </div>

                  <div class="col-xs-3 col-sm-2 col-md-2 text-left">
                        <ul class="list-unstyled">
                           <li class="heading"><a>IA Job Search</a></li>
                            <li class="text-left content"><a>Search for jobs <br>across the<br>World</a></li>
                        </ul>
                  </div>

                  <div class="col-xs-6 col-sm-2 col-md-2 text-left">
                        <ul class="list-unstyled">
                           <li class="heading"><a>IA Travels</a></li>
                            <li class="text-left content"><a>Book your <br>Flight</a></li>
                        </ul>
                  </div>



                  <div class="col-xs-6 col-sm-2 col-md-2 text-left">
                        <ul class="list-unstyled">
                           <li class="heading"><a>Digital Photography</a></li>
                           <li class="text-left content"><a>Book for Photography jobs <br/>And buy our photos</a></li>
                        </ul>
                  </div>
              </div>

          </div>

          <div class="col-xs-0 col-sm-1 col-md-1">
                <!--Shite-->
          </div>

          <div class="row">
              <div class="col-sm-2 col-md-2">

              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center social-media">
                  {% social_media_links as links %}
                    <h6>Social Media</h6>
                  <div class="container-fluid">
                      <a class="social facebook" {% if links.fb %}href="{{links.fb}}"{% else %}href="#"{% endif %}> <i class="fa fa-facebook"></i></a>
                      <a class="social twitter" {% if links.tw %}href="{{links.tw}}"{% else %}href="#"{% endif %}><i class="fa fa-twitter"></i></a>
                      <a class="social instagram" {% if links.ins %}href="{{links.ins}}"{% else %}href="#"{% endif %}><i class="fa fa-instagram"></i></a>
                  </div>

              </div>

              <div class="col-sm-4 col-md-4">

              </div>

          </div>

      </div>
           <!--End of footer subcontent -->

      <div class="row footer-contact-info text-center">
          <div class="container-fluid row" style="color: #fff !important;">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                  </div>

                  <div class="container-fluid text-center" style="position: relative; left: 10%">
                       <img src="{% static 'images/background/logo.jpg' %}" class="img-responsive img-circle" style="width:40px; height: 40px; border: 1px solid #fff">
                      <span class="text-left" style="position: absolute; left: 41%">IA STORE</span>
{#                      <span style="background: red !important;">shop better, live better</span>#}
                  </div>



          </div>

      </div>
      <!--End of footer contact info-->

       </div>
   </div>

       {% endblock %}
   </footer>
</body>
</html>