{% extends "base.html" %}
{% load auction_tags %}
{% load static %}


{% block title %}{% endblock %}

{% block content %}
    <!--<div class="jumbotron sub-header">-->
        <!--<div class="row text-center" style="padding-top: -10px">-->
            <!--<h5><span>WELCOME TO</span> <span>IASTORE</span></h5>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="navbar navbar-default">-->

    <!--</div>-->

    <div class="container-fluid text-center home-page-container">
        <div class="row content main-slider" style="width: 100%;">
            <div class="col-xs-3 col-sm-2 col-md-3 right-sidenav" style="border-left: none !important;">
                <div class="panel panel-default left-sidebar categories-main">
                    <div class="panel-heading text-left">CATEGORIES<span class="text-right"><a href="{% url 'auctions:all_categories' %}">see all<i class="glyphicon glyphicon-triangle-right"></i></a></span></div>
                    <div class="panel-body">
                        {% product_categories 10 as category %}
                             {% for c in category %}
                                <div data-action="{{c}}" class="text-left cat-list"  id="category_list"><a href="{% url 'auctions:category_detail' category_id=c.id category_slug=c.slug %}" >{{ c }}</a></div>
                                    <div class="container-fluid text-left sub-cat-on-hover row"  id="subcats">

                                    </div>
                             {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-7 no-gutter">
                <div class="owl-carousel owl-theme" id="carousel1">
                    {% for image in images %}
                         <div class="item"><img src="{{ image.get_thumbnail_url }}" class="img-responsive"></div>
                    {% endfor %}
                    <!--<div class="item"><img src="{% static 'images/home1.jpg' %}"></div>-->
                    <!--<div class="item"><img src="{% static 'images/home2.jpg' %}" class="img-responsive"></div>-->
                    <!--<div class="item"><img src="{% static 'images/home3.jpg' %}"  class="img-responsive"></div>-->
                    <!--<div class="item"><img src="{% static 'images/home4.png' %}"  class="img-responsive"></div>-->
                </div>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 left-sidenav text-center" style="border: none !important;">
                <div class="panel panel-default left-sidebar best-brand text-center">
                    <div class="panel-heading text-center">
                        BEST BRAND
                    </div>

                    {% item_of_the_day as items %}
                        <div class="owl-carousel text-center" id="carousel4">
                            {% for item in items %}
                                {% if item.image %}
                                    <a href="{% url 'auctions:bid' item.id %}"><img  src="{{ item.image.url }}"  class="img-responsive"></a>
                                {% else %}
                                    <a href="{% url 'auctions:bid' item.id %}"><img  src="{% static 'images/no_image.png' %}" class="img-responsive"></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                </div>
            </div>

        </div>
        <!--<hr style="border-bottom: 2px solid #F3DAA0; width: 93%"/>-->


        <div class="home-page-nav-pills-container">
            <!--New row starts here -->
        <div class="row left-sidebar" style="width: 93%">
            <ul class="nav nav-pills">
                <li style="width: 180px" class="text-center">
                    <a class="active" data-toggle="pill" href="#ending-soon">Ending Today</a>
                </li>

                <li style="width: 180px" class="text-center">
                    <a class="" data-toggle="pill" href="#top-deals" >Top Deals</a>
                </li>
            </ul>

            <div class="tab-content" style="padding-bottom: 49px">
                <div class="tab-pane fade in active" id="ending-soon">
                    <h5>Ending Today deals</h5>
                    <div class="owl-carousel owl-theme" id="carousel2">
                        {% ending_soon as soon %}
                        {% for item in soon %}
                            {% if item.image %}
                               <img  src="{{ item.image.url }}"  class="img-responsive">

                            {% else %}
                                <img  src="{% static 'images/no_image.png' %}" class="img-responsive ">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="tab-pane fade" id="top-deals">
                    <h5>Hottest deals</h5>
                    <div class="owl-carousel owl-theme" id="carousel3">
                        {% hottest_deals as top %}
                        {% for item in top %}
                            {% if item.image %}
                               <a href="{% url 'auctions:bid' item.id %}"><img src="{{ item.image.url }}"  class="img-responsive" ></a>

                            {% else %}
                                <a href="{% url 'auctions:bid' item.id %}"><img  src="{% static 'images/no_image.png' %}" class="img-responsive"></a>
                            {% endif %}
                        <!--{{item.bids.count}}-->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!--End of new row -->

        </div>

    </div>


    {% endblock %}


   <footer class="container-fluid text-center">

   </footer>

</body>
</html>