{% extends "base.html" %}
{% load static %}
{% load auction_tags %}
{% block title %}{{category}}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="page-heading container-fluid">
        <div class="text-center ">
            <h5>{{category}}</h5>
        </div>
    </div>

    <ul class="breadcrumb">
              <li>
                <a href="{% url 'pages:home' %}">Home</a>
              </li>
              <li>
                <a href="{% url 'auctions:all_categories' %}">categories</a>
              </li>
              <li class="active">{{ category }}</li>
    </ul>

    <div class="row category-detail">
        <div class="col-xs-12 col-sm-3 col-md-3 left-sidebar">
            <div class="category-heading"><a href="#">{{ category }}</a></div>
            <div class="list-group">
                {% for s in category.subcat.all %}
                    <a class="list-group-item" href="{% url 'auctions:subcat_detail'  subcat_id=s.id subcat_slug=s.slug %}">{{ s }}</a>
                {% endfor %}


            </div>

        </div>

        <div class="col-xs-12 col-sm-9 col-md-9 category-detail">
            {% for subcat in category.subcat.all %}

                {% if  subcat.sub_products.count > 0%}
                    <div class="row right-sidebar sub-cats">
                        <h5 class="text-center">{{ subcat }}</h5>
                        <!--Begin of item detail.html -->
                        {% for auction in subcat.sub_products.all %}
                            <div class="col-xs-12 col-sm-4 col-md-3 text-center">
                                <div class="thumbnail box">
                                    {% with auction.image.all|first as image %}
                                        {% if image.image %}
                                            <a href="{% url 'auctions:bid' auction.id %}"><img class="group list-group-image" src="{{ image.image.url }}" alt="" /></a>
                                        {% else %}
                                            <a href="{% url 'auctions:bid' auction.id %}"><img class="group list-group-image" src="{% static 'images/no_image.png' %}" alt="" /></a>
                                        {% endif %}
                                    {% endwith %}
                                    <div class="caption">
                                        <h4 class="group inner list-group-item-heading">{{ auction.item }}</h4>
                                        <p class="group inner list-group-item-text"></p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12 text-center">
                                                <p class="lead">N{{ auction.get_current_price }}</p>
                                            </div>
                                        </div> <!-- end of row class for price and bid -->
                                        {% if auction.place_on_auction %}
                                            <div class="row myClock" style="margin-top: -49px" data-action='{{ auction.end_time|to_json }}'>
                                                <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 days"></div>
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hours"></div>
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 minutes"></div>
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 seconds"></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">D</div>
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">H</div>
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">M</div>
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">S</div>
                                            </div> <!-- counter text ends here -->
                                        </div>
                                        {% endif %}
                                    </div>  <!-- end of caption -->
                                </div> <!-- end of thumbnail -->
                            </div>
                        {% endfor %}
                        <!--End of item detail.html -->

                    </div>
               {% endif %}

            {% endfor %}

        </div>
    </div>

    {% block extrajs %}

    {% endblock %}

</div>



{% endblock %}