{% extends "base.html" %}
{% load auction_tags %}
{% load static %}
{% load material_form %}
{% load disqus_tags %}
{% disqus_dev %}
{% load ratings %}
{% block title %}{% endblock %}


{% block content %}
<div class="container-fluid">

    <!--BBreadcrumb-->
    <ul class="breadcrumb">
              <li>
                <a href="{% url 'pages:home' %}">Home</a>
              </li>
              <li>
                <a href="{% url 'auctions:list' %}">items</a>
              </li>
              <li class="active">item detail</li>
    </ul>

    <div class="row">
        <div class="col-sm-12 col-md-7 left-sidebar" style="border: 1px solid #DADADA; ">
            <div class="row" style="margin-left: 10px;">
            <div class="col-sm-2 col-md-2"></div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <!--<p>Current bid at N{{auction.get_current_price}}</p>-->
                    <!--<p>Winner: {{auction.winner}}</p>-->
                    <div class="row no-gutter" style="margin-top: 15px;">
                        <div class="col-sm-3 col-md-3 product-detail-side-images text-center" >
                             {% for image in auction.image.all %}
                                 {% if image.image %}
                                    <div id="gallery_01">
                                        <a href="#" data-image="{{ image.image.url }}" data-zoom-image="{{ image.image.url }}">
                                            <img id="img_01" src="{{ image.image.url }}"  style="width: 50px; height: 50px; padding-bottom: 5px" alt=""/>
                                        </a>
                                    </div>
                                 {% endif %}
                             {% endfor %}
                        </div>
                        <div class="col-sm-9 col-md-9 text-left" style="margin-left: 0px">
                             <p style="    color: #30323A; font-weight: 700;">
                                 Posted {{ auction.creator}} on {{ auction.time }}
                             </p>
                                {% with auction.image.all|first as first_image %}
                                    {% if first_image.image %}
                                        <img id="zoom_01" src="{{ first_image.image.url }}"
                                             class="img-responsive auction-detail-image"
                                             data-fancybox
                                             data-zoom-image="{{first_image.image.url}}"
                                        />
                                    {% else %}
                                        <img src="{% static 'images/no_image.png' %}" class="auction-detail-image img-responsive">
                                    {% endif %}
                                {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
         {#end of left side bar#}

        <div class="col-xs-12 col-sm-5 col-md-5 right-sidebar" style="border:1px solid #DADADA; padding-top: 0">
            <div class="product-information" style="padding-top: 4px; margin-top: 4px; padding-left: 8px"><!--/product-information-->
                <span style="font-size: 10px" class="rating-no-detail">
                    <p>{% ratings auction 15 15 %}
                        <a href="" style="top: -15px !important;">posted from {{ auction.creator.profile.institution }}</a>
                    </p>
                </span>

                <h3 class="subtitle">{{ auction.category }}</h3>
                <h1>{{ auction }}</h1>
                <h3 class="price-big">&#x20A6 {{ auction.get_current_price }}</h3>
                <p>Product ID: {{ auction.id }}</p>
                <p class="bottom-line"></p>
                <div class="prod-description">
                    production description here
                </div>
                <p class="bottom-line"></p>
                {% if auction.place_on_auction %}
                    <div class="container-fluid" style="margin-left: 21px;">
                        <div class="row myClock" style="padding-left: 18px; margin-bottom: -5px" data-action='{{ auction.end_time|to_json }}'>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 days"></div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hours"></div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 minutes"></div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 seconds"></div>
                            </div>

                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">D</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">H</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">M</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">S</div>
                            </div> <!-- counter text ends here -->
                        </div>
                    </div>
            {% endif %}
{#                ratings here #}
                <span class="">
                     <p>Current bid at: &#x20A6 {{ auction.get_current_price }}
                            <a href="#" style="padding-left: 120px">
                                <label>Quantity:</label><input type="text" value="3" />
                            </a>
                     </p>

                    {% if auction.place_on_auction %}
                        <form class="form-group">
                         {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-8 col-md-8">
                                    <button class="bid-button" style="margin-left: 10px">
                                        PLACE BID
                                    </button>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <select class="price-select">
                                        <option>1</option>
                                        <option>2</option>
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </select>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </span>

{#                <button tyle="button" class="button btn fefault contact cart" style="padding-bottom: 7px">#}
{#                    call#}
{#                </button>#}
{#                {% if auction.creator.profile.phone %}#}
{#                    <span class="phone">#}
{#                        {{ auction.creator.profile.phone }}#}
{#                    </span>#}
{#                {% endif %}#}

                <div>
{#                    <p style="margin-top: 10px"><b>Availability:</b> In Stock</p>#}
{#                    <p><b>Condition:</b> New</p>#}
                </div>
            </div><!--/product-information-->

        </div> <!-- end of right side bar -->
    </div> <!-- end of main row -->

    <!-- Item filtering row starts here -->
    <div class="row">
        <div class="product-tab" style="background: #fff">
            <ul class="tab-nav">
                <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                <li><a data-toggle="tab" href="#tab1">Best Offers</a></li>
                <li><a data-toggle="tab" href="#tab3">Comment</a></li>
                <li><a data-toggle="tab" href="#tab4">Private Message</a></li>
                <li><a data-toggle="tab" href="#tab5">Feedback</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active">
                    <div class="container-fluid text-left">{{auction.description}}</div>
                </div>
                <div id="tab2" class="tab-pane fade in">
                   <ul class="collection">
                        {% best_offers auction as best %}
                        {% for b in best %}
                            <li class="collection-item avatar">
                                <span class="title">{{b.amount}}</span>
                                <a href="#" class="secondary-content">
                                <i class="material-icons">grade</i>
                            </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="tab3" class="tab-pane fade in">
                   <div class="container">
                        {% disqus_show_comments %}
                    </div>
                </div>

                <div id="tab4" class="tab-pane fade in">
                    <div class="row">
                        <div class="col-xs-0 col-sm-2 col-md-2">

                        </div>

                        <div class="col-xs-12 col-sm-8 col-md-8">
                            {% if sent %}
                                <span class="text-center">Your message has been sent</span>
                            {% else %}
                                 <span class="text-center">Private message here</span>
                            {% endif %}
                            <form method="post">
                                {% csrf_token %}
                                {%form form=private_message %}{% endform %}
                                 <button type="submit" name="_message" class="button cart">Submit</button>
                            </form>
                        </div>
{##}
                        <div class="col-xs-0 col-sm-2 col-md-2">

                        </div>

                    </div>
                </div>

                <div id="tab5" class="tab-pane fade in">
                   <h6 class="text-center">Rate this item</h6>
                    <div class="container-fluid text-center">
                       {% ratings auction %}
                    </div>
                </div>

            </div>
        </div>
    </div>
     <!-- Item filtering row end here -->

</div> <!-- end of main container -->
    {% block extrajs %}
        <script>
            $("#zoom_01").elevateZoom({
                gallery: "gallery_01",
                cursor: 'pointer',
                galleryActiveClass: 'active',
                imageCrossfade: true,
                loadingIcon: 'http://www.elevateweb.co.uk/spinner.gif',
                tintOpacity:0.5,
                easing: true,
                zoomWindowWidth:400,
                zoomWindowHeight:300,
                zoomWindowOffetx: 10,
            });

           $("[data-fancybox]").fancybox({
		        // Options will go here
	        });
{#            $("#zoom_03").bind("click", function(e) {#}
{#                var ez =   $('#zoom_03').data('elevateZoom');#}
{#	            $.fancybox(ez.getGalleryList());#}
{#                return false;#}
{#            });#}

        //this function shows the user's number when the call button is clicked
        $(".contact").click(function(){
            var contact_button = $('.contact')
            var position = contact_button.position()
            var target = $('.phone')
            target.css('position', 'absolute', 'left', position.left, 'top', position.top)
            target.css('margin-bottom', '15px')
            contact_button.hide()
            target.css('visibility', 'visible')
            alert(position.left)
        })
        </script>
    {% endblock %}

{% endblock %}