{% extends "base.html" %}
{% load auction_tags %}
{% load static %}
{% load material_form %}
{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="page-heading container-fluid">
        <div class="text-center ">
            <h5>All Auctions</h5>
        </div>
    </div>

    <ul class="breadcrumb">
              <li>
                <a href="{% url 'auctions:home' %}">Home</a>
              </li>
              <li>
                <a href="{% url 'auctions:list' %}">auctions</a>
              </li>

              {% if g_search != None or search != None %}
                    <li>
                        <a href="#">Search</a>
                    </li>
                    {% if g_search %}
                        <li>
                            <a href="#"  style="font-weight: 800">{{g_search.count}} items were found matching yoir query</a>
                        </li>
                    {% elif search %}
                        <li>
                            <a href="#"  style="font-weight: 800">{{search.count}} items were found ms were found matching yoir query</a>
                        </li>
                    {% endif %}
              {% endif %}

              {% if g_search.count == 0 or search.count == 0%}
                    <li>
                         <a href="{% url 'auctions:list' %}" style="font-weight: 800">0 items were found matching your query</a>
                    </li>
              {% endif %}
    </ul>

    <div class="row main-product-list-row">
        <div class="col-xs-12 col-md-3 advanced-search">
            <ul class="list-group">
                <li class="list-group-item advanced-search-form" style="background: #1F0101; opacity: 0.9">ADVANCED SEARCH</li>
                <li class="list-group-item">
                    <form method="get" >
                        {% csrf_token %}
                        {% form form=search_form %}{% endform %}
                        <button type="submit" class="btn btn-primary" id="advanced-search-submit" name="sub_search", value="submit2">SEARCH</button>

                    </form>
                </li>

                <li class="">

                </li>
            </ul>


            <ul class="list-group product-list-category">
                    <li class="list-group-item"><a>CATEGORES</a></li>
                    {%  product_categories as categories %}
                    {% for c in categories %}
                        <li class="list-group-item"><a href="{% url 'auctions:category_detail' category_id=c.id category_slug=c.slug %}">{{ c }}</a></li>
                            <!--<span class="badge">5</span></li>-->
                    {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12 col-md-9 product-container">
            <div class="well well-sm text-right">
                <strong>Display</strong>
                <div class="btn-group">
                     <a href="#" id="list" class="btn btn-default btn-sm">
                         <span class="glyphicon glyphicon-th-list"></span>List
                     </a>
                    <a href="#" id="grid" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-th"></span>Grid
                    </a>
                </div>
            </div>

            <!--Call the template tage here to render items -->
            {% if g_search  %}
                {% product_list g_search %}
            {% elif search  %}
                {% product_list search %}
            {% elif auctions %}
                {% product_list auctions %}
            {% endif %}






        </div> <!-- end of col-sm-8 -->
    </div>

</div>

{% endblock %}