{% extends "base.html" %}
{% load static %}
{% load material_form %}
{% block title %}add-auction{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="page-heading container-fluid">
        <div class="text-center ">
            <h5>Add New Auction</h5>
        </div>
    </div>

    <ul class="breadcrumb">
              <li>
                <a href="{% url 'pages:home' %}">Home</a>
              </li>
              <li>
                <a href="{% url 'auctions:list' %}">auctions</a>
              </li>

            <li>
                <a href="#">new auction</a>
            </li>
    </ul>

    {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">
                            {{ message|safe }}
                                <a href="#" class="close">✖</a>
                            </li>
                            {% endfor %}
                            </ul>
              {% endif %}
<div class="container container-fluid form-container">

     <form method="post" class="viewform"  id="myFormset" enctype="multipart/form-data">
      {% csrf_token %}
      {% form form=form %}{% endform %}

       {% for form in formset.forms %}
            <div  class="row image-formset">
                <div class="col-xs-12 col-sm-4 col-md-4">{% form form=form %}{% endform %}</div>
                <span class="errors">{{ form.image.errors }}</span>
            </div>
       {% endfor %}


    {{ formset.management_form }}
         <button type="submit" name="_submit" class="btn" style="margin-top: 60px; margin-bottom: 20px; margin-left: 33%">Submit</button>

    </form>

    {% block extrajs %}

    {% endblock %}

</div>



{% endblock %}