@import url(http://fonts.googleapis.com/css?family=Muli);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
     background: #f2f2f2!important;
}


.caret {
  border-color: transparent !important;
}

.form-container{
    background: #fdfdfd;
}
.left-sidebar, .right-sidebar{
    background: #ffffff;
}

.left-sidebar{
    border-right: 8px solid  #f2f2f2;
}

.right-sidebar{
    border-left: 8px solid #f2f2f2;
}



.dropdown-content li>a{
      color:#428bca;
}


#dropdown1{
    border-radius: 4px;
    box-shadow: none;
    margin-top: 50px;
    width: 200px !important;
    background: #f0f0f0 !important;
    border: 1px solid #ccc;

}

 #dropdown2{
     border-radius: 4px;
    box-shadow: none;
    margin-top: 50px;
    width: 350px !important;
    background: #f0f0f0 !important;
    border: 1px solid #ccc;
 }




#dropdown1>li>a{
    color:#428bca;
}

#dropdown1>li>a:hover{
    text-decoration: none;
}

.profile-drop .divider{
    background: red;
}

.profile-dropdown-li{
    border-bottom: 1px solid #fff !important;
}

.profile-dropdown-li:last-child{
    border-bottom: none;
}
#dropdown1:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
#dropdown1:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}


.main-header{
    background-image: url('../images/header_img.jpg');
    color: ghostwhite;
    font-weight: bold;
    height: 225px;



}

.jumbotron{
    margin-bottom: 0;
}

.navbar{
    margin-bottom: 10px;
    border-radius: 0;
}

.navbar-right{
    margin-right: 4% !important;
}

#post-ad {
    margin-top: 0 !important;
    background: #777 !important;
    padding-top: 0;
    font-size: 8px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}




.owl-carousel .item img {
    width: 100%;
    height: 325px;
    max-height: 325px;
    display: block;
}
hr{
    /*margin-bottom: 0.5em;*/
    /*margin-top: 0.5em;*/
    /*border-style: inset;*/
    /*border-width: 1px;*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*border-color: #003366;*/
}


ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

/*breadcrumbs*/

/** Breadcrumb background color
@breadcrumb-bg : #f5f5f5;
//** Breadcrumb text color
@breadcrumb-color : #ccc;
//** Text color of current page in the breadcrumb
@breadcrumb-active-color : @gray-light;
//** Textual separator for between breadcrumb elements
@breadcrumb-separator : "/";
**/
.breadcrumb{
    background: #f5f5f5;
    font-size: 5px;
}


/*Follower system*/

.count {
    color:#aaa;
    border:3px solid #bbb;
    border-radius:26px;
    padding:10px 20px;
    margin:20px 10px 0;
}

.follow {
    /*float:right; margin-top:-8px;*/
    /*padding: 4px !important;*/
    padding-left: 6px !important;
    padding-right: 6px !important;
    background: #12c064 !important;
    border-radius: 4px;
    font: 12px bold;
}

a {
    color:#12c064;
    text-decoration:none;
}

a:hover {
    color:#00a74f;
}

.action {
    clear:both;
    overflow:auto;
}

.notifications{
    color: red !important;
}

.no-notifications{
    color: #003366;
}

/*notifications styling */

.dropdown {
    display:inline-block;
    margin-left:20px;
    /*padding:10px;*/
  }


.glyphicon-bell {

    font-size:1.5rem;
  }

.notifications {
   min-width:420px;
  }

  .notifications-wrapper {
     overflow:auto;
      max-height:250px;
    }

 .menu-title {
     color:#ff7788;
     /*font-size:1.2rem;*/
      display:inline-block;
      }

.glyphicon-circle-arrow-right {
      margin-left:7px;
   }


 .notification-heading, .notification-footer  {
 	padding:2px 5px;
       }


.dropdown-menu.divider {
  margin:5px 0;
  }

.item-title {

 font-size:1.3rem;
 color:#000;

}

.notifications a.content {
 text-decoration:none;
 background:#ccc;

 }

.notification-item {
 padding:10px;
 margin:5px;
 background:#ccc;
 border-radius:4px;
 }


.notification-dropdown-li a:hover{
    text-decoration: none;
}

.notification-dropdown-li{
     border-bottom: 1px solid #fff !important;
}


.notification-dropdown-li:last-child{
    border-bottom: none;
}


.small-image{
    width: 90px;
    height: 90px;
}