{% extends "base.html" %}
{% load static %}
{% load material_form %}

{% block content %}
<!--Main container -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-0 col-md-3"></div>
        <div class="col-xs-12 col-md-6">
            {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">
                            {{ message|safe }}
                                <a href="#" class="close">✖</a>
                            </li>
                            {% endfor %}
                            </ul>
              {% endif %}
        </div>
        <div class="col-xs-0 col-md-3"></div>
    </div>
    <div class="row" style="margin-top: 75px">
        <div class="col-xs-12 col-md-4">

        </div>

        <div class="col-xs-12 col-md-4 left-sidebar budget-plan-container">
            <div class="panel-heading text-center"><span  class="glyphicon glyphicon-briefcase"></span> PLAN BUDGET</div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ budget_form.non_field_errors }}
                <h6 class="text-center">{{ budget_form.title.label }}</h6>
                    <div class="row fieldWrapper">
                        <!--<div class="col-xs-12 col-md-4" style="margin-top: 10px">-->
                            <!---->
                        <!--</div>-->

                        <div class="col-xs-12 col-md-10 text-center title" style="margin-top: -22px">
                            {{ budget_form.title }}
                            <span class="errors">{{ budget_form.title.errors }}</span>
                        </div>

                    </div>

                <h6 class="text-center" > {{ budget_form.price.label }} </h6>
                    <div class="row fieldWrapper">
                        <!--<div class="col-xs-12 col-md-4" style="margin-top: 10px">-->

                        <!--</div>-->

                        <div class="col-xs-12 col-md-10 price" style="margin-top: -22px">
                            {{ budget_form.price }}
                            <span class="errors">{{ budget_form.price.errors }}</span>
                        </div>

                    </div>

                <h6 class="text-center" >Time Frame </h6>
                    <div class="row fieldWrapper time">
                        <div class="col-xs-0 col-md-2"></div>
                        <div class="col-xs-12 col-md-5" style="margin-top: -18px">
                            {{ budget_form.range }}
                            <span class="errors" style="margin-top: -5px"> {{ budget_form.range.errors }}</span>
                        </div>

                        <div class="col-xs-12 col-md-5" style="margin-top: -18px">
                            {{ budget_form.time }}
                            <span class="errors"  style="margin-top: -5px">{{ budget_form.time.errors }}</span>
                        </div>
                    </div>

                <div class="row text-center budget-image">
                    <label class="btn btn-default btn-circle" for="{{budget_form.image.id_for_label}}"><i class="material-icons">file_upload</i></label>
                    {{ budget_form.image }}
                    <!--<div class="container"><input id="uploadFile" placeholder="Choose File" disabled="disabled" /></div>-->
                    <span class="errors"  style="margin-top: -5px">{{ budget_form.image.errors }}</span>

                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-1">

                    </div>

                    <div class="col-xs-12 col-md-3">
                         <!--<button type="submit" >ADD PLAN</button>-->
                    </div>


                    <div class="col-xs-12 col-md-5">
                        <button type="submit " class="btn" >EDIT PLAN</button>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-xs-12 col-md-4">

        </div>

    </div>

</div>
<!--End container -->

{% endblock %}

