{% extends "base.html" %}
{% load static %}


{% block content %}
<!--Main container -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-0 col-md-3"></div>
        <div class="col-xs-12 col-md-6">
            {% if messages %}
                <ul class="messages text-center" style="width: 70%">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message|safe }}<a href="#" class="close">✖</a></li>
                    {% endfor %}
                </ul>
              {% endif %}
        </div>
        <div class="col-xs-0 col-md-3"></div>
    </div>
    <div class="row" style="margin-top: 75px">
        <div class="col-xs-12 col-md-4"></div>
        <div class="col-xs-12 col-md-4 budget-plan-container white-background">
            <div class="panel-heading text-center"><span  class="glyphicon glyphicon-briefcase"></span> PLAN BUDGET</div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ budget_form.non_field_errors }}
                <h6 class="text-center">{{ budget_form.title.label }}</h6>
                    <div class="row fieldWrapper text-center">
                        <div class="col-xs-12 col-md-10" style="margin-top: -22px;">
                            {{ budget_form.title }}
                            <span class="errors">{{ budget_form.title.errors }}</span>
                        </div>

                    </div>

                <h6 class="text-center" > {{ budget_form.price.label }} </h6>
                    <div class="row fieldWrapper text-center">
                        <div class="col-xs-12 col-md-10" style="margin-top: -22px;">
                            {{ budget_form.price }}
                            <span class="errors">{{ budget_form.price.errors }}</span>
                        </div>

                    </div>

                <h6 class="text-center" >Time Frame </h6>
                    <div class="row fieldWrapper no-gutter text-center">
                        <div class="col-xs-12 col-md-5" style="margin-top: -18px">
                            {{ budget_form.range }}
                            <span class="errors" style="margin-top: -5px"> {{ budget_form.range.errors }}</span>
                        </div>

                        <div class="col-xs-12 col-md-5" style="margin-top: -18px">
                            {{ budget_form.time }}
                            <span class="errors"  style="margin-top: -5px">{{ budget_form.time.errors }}</span>
                        </div>
                    </div>

                <div class="row text-center budget-image">
                    <label class="btn btn-default btn-circle" for="upload"><i class="fa fa-upload"></i></label>
                    {{ budget_form.budget_image }}
                    <span class="errors"  style="margin-top: -5px">{{ budget_form.budget_image.errors }}</span>

                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-1"></div>

                    <div class="col-xs-12 col-md-3">
                    </div>

                    <div class="col-xs-12 col-md-5" style="position: relative">
                        <button type="submit " class="btn" >ADD PLAN</button>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-xs-12 col-md-4">

        </div>

    </div>

</div>
<!--End container -->

{% endblock %}

