@import url(http://fonts.googleapis.com/css?family=Muli);
body {
    font-family:helvetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #ECEDEF ;
    font-size: 14px;
    /*overflow-x: hidden;*/
    position: relative;

    /*flex-direction: column;*/
}

body, html {
    overflow-x:hidden;
}

.body-content{
    /*position:relative;*/
    margin: 0 auto;
    max-width: 100%;
}

html, body{
     height: 100%;
     padding: 0;
     margin: 0;
}

html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}




.naira{
    position: relative;
    top: 12px;
    left: 13px;

}

.naira img{
    width: 12px;
    height: 12px;
}



.main-header-container{
    background-image: url('../images/background/school-bg.jpg');
    background-size: 80%;
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}

#main-header{
    padding-bottom: -4px;
    background-color:#1F0101;
    /*opacity: 0.9;*/

}



#myFormset .image-formset{
    border: 1px solid #333 !important;
    padding: 10px;
}

#myFormset .add{
    background: #37474f !important;
    color: #f1f1f1;
    position: relative;
    top: -30px;
    left: 45%;
    padding: 10px;
    border-radius: 5px;
}

.subtitle{
    font-family: adihausregular,Arial,Helvetica,Verdana,sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 2px;
    color: #9a9b9b;
}

.rating-no-detail a:hover{
    cursor: pointer;
}

.rating-no-detail a{
    position: relative;
    color: #0D47A1!important;
    bottom: 30px !important;
}


/*#main-header .right-header{*/
    /*position: relative;*/
    /*left: 85px;*/
/*}*/



#main-header .glyphicon-bell{
    color: #F3DAA0 !important;
    font-size: 18px;
    position: static !important;
    /*right: 135px;*/

}

#main-header .bell{
    position: relative;
    left: 90px;
    top: 3px;
    z-index: 4;
    /*background: red !important;*/
}

#main-header .user-logged-in-li{
    position: relative;
    left: -70px;
    top: 5px;
    width: 60px;
    /*background: green !important;*/
}

.user-loggedout-li{
    position: relative;
    left: -70px;
    top: 5px;
    width: 60px;
    /*background: green !important;*/
}

#main-header .user-logged-in, #main-header .user-loggedout{
    top: 65px !important;
    position: relative;
    /*right: 80px !important;*/
    /*right: 225px;*/
    left: 40px;
    /*background: red !important;*/
}

#main-header .user-logged-in{
    left: 40px !important;
}


#main-header .glyphicon-globe{
    position: relative;
    right: 80px;
    top: 28px;
    font-size: 18px;
}





#dropdown1>li>a{
    color: #333 !important;
}

#dropdown1>li>a:hover{
    text-decoration: none;
}

.profile-drop .divider{
    background: red;
}

.profile-dropdown-li{
    border-bottom: 1px solid #fff !important;
}

.profile-dropdown-li:last-child{
    border-bottom: none;
}
#dropdown2:before{
     content: "";
     width: auto;
     min-width: 200px;
     border-bottom: 10px solid #fff;
     border-right: 10px solid transparent;
     border-left: 10px solid transparent;
     position: absolute;
     top: -10px;
     right: 16px;
     z-index: 10;
 }

#dropdown2:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    /*top: -12px;*/
    right: 14px;
    z-index: 9;
}

#dropdown2{
    /*display: inline-block;*/
    width: 320px !important;
    top: 70px !important;
    padding-top: 0px !important;
    /*background: red !important;*/
}

#dropdown2 table tr{
    padding: 0 !important;
    /*background: red !important;*/
}

#dropdown2 table tr td {
    padding: 0 !important;
    font-size: 9px
    /*background: red !important;*/
}

#dropdown1:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}

#dropdown1:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

#dropdown1{
    width: 200px !important;
}


.sub-header{
    background-image: url('../images/header_img.jpg');
    color: ghostwhite;
    font-weight: bold;
    margin-top: -10px;
    padding: 15px;
    /*height: 125px;*/
}

.sub-header h5{
    font-size: 22px;
}


/*.watchlist{*/
    /*background: yellow !important;*/
    /*position: relative;*/
    /*bottom: 8px !important;*/

/*}*/

.fa-shield{
    transform: scaleY(1.2);
    position: relative;
    top: 30px;
    left: 190px;
    z-index: 5 !important;
    /*background: yellow !important;*/
    /*transform: scaleX(1);*/
    /*right: 100px;*/
    /*left: -5px;*/
    font-size: 18px !important;
}

.fa-shield span{
    font-size: 12px;
    font-weight: 300 !important;
    position: relative;
    margin-left: 13px;
}

#main-header .right-header .nigeria-flag{
    width: 30px;
    height: 20px;
    position: relative;
    top: 30px;
    /*right: 75px;*/
    left: 175px;
    z-index: 2 !important;
}

#main-header .flag-text{
    position: absolute;
    top: 38px;
    left: 205px;
    font-weight: 300 !important;
    /*transform: scaleY(1.5);*/
}

.user-notifications a:hover{
    cursor: pointer !important;

}

.user-notifications a{
    color: #1F0101 !important;
}

#main-header .nav li a{
    top: 14px;
}

#main-header .glyphicon-user {
    /*top: 55px;*/
    position: static !important;
     font-size: 18px;
    transform: scaleY(1.5);
}






.login{
    position: relative;
    top: 53px !important;
    right: 230px;
    /*font-size: 10px !important;*/
    transform: scaleY(1.5);
    font-weight: 300 !important;
    /*background: red !important;*/
    /*font-size: 40px !important;*/
}


.register{
    position: absolute;
    top: -33px !important;
    /*background: red !important;*/
    padding: 10px;
    margin-top: 20px !important;

    font-size: 10px !important;
    /*transform: scaleY(1.5);*/
    font-weight: 300 !important;
}


#main-header .all-auctions{
    position: relative;
    top: 120px;
}

.navbar-right{
    /*margin-right: 4% !important;*/
    /*margin-left: 20% !important;*/
    /*background: red !important;*/
    position: relative;
    padding-right: 10px;
    right: 120px;
}

#main-header .glyphicon-heart{

    font-size: 20px;
    transform: scaleY(1.5);
    z-index: 4 !important;

}

.watchlist{
    top: 60px !important;
    position: relative;
    left: 0px;
    left: 0 !important;
}


.watchlist span span{
    font-size: 8px !important;
    /*margin-left:  !important;*/
}

.watchlist span span span{
    padding-left: 5px;
}

/*.watchlist s span{*/
    /*position: absolute !important;*/
/*}*/


/*.*/


#main-header .glyphicon-heart span{

    font-size: 10px;
    font-weight: 300 !important;
    color: #F1DAA5; !important;
    position: relative;
    top: -12px !important;
    left: 10px;
}

#main-header .glyphicon-heart span span{
    position: relative;
    top: 11px !important;
    left: -32px !important;
}




/*#main-header .login span, .glyphicon-user span{*/
    /*top: 6px ;*/
/*}*/
.header-content .text{
    color: #F1DAA5 !important;
    font-size: 12px;
    font-weight: bold;
}


.logo{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
    top: 10px;
    border: 2px solid #f9f9f9;
}


.search{
    border-top-width: 3px;
    /*border-top-color: red ;*/
    margin-top: -12px;


    /*background: #1F0101;*/
    /*z-index: 0.8;*/
    background:  url('../images/background/school-bg.jpg') ;
    /*z-index: 3;*/
    background-size: 80%;

}

.search-box-container{
    border-top-width: 3px;
    /*border-top-color: red ;*/
    margin-top: -12px;
    background: #1F0101;
    opacity: 0.8;

}

.user-logged-in-li{
    position: static !important;
}



@media screen and (max-width: 768px){
    .fa-shield{
        display: none !important;
        top: 18px !important;
        left: -58px !important;
    }

    .footer{
        font-size: 11px !important;
        background-color: #1F0101;
        margin-bottom: 0 !important;
    }



    .footer-contact-info div:nth-child(2) [class*="row"]{
        /*background: red !important;*/
        width: 300px !important;
        /*margin-right: 25% !important;*/
        position: relative;
        right: 110px;
    }

    .footer-contact-info div:nth-child(2) .label{
        position: relative;
        left: 12%;
    }

    /*.footer-contact-info div:nth-child(2) [class*="row"] .all-rights{*/
        /*right: 6% !important;*/
    /*}*/



    #main-header .right-header .nigeria-flag{
        display: none !important;
        top: -30px !important;
        left: 64% !important;
        width: 20px !important;
        height: 20px !important;
    }

    .logo{
        width: 35px !important;
        height: 35px !important;
    }

    .logo-text{
        font-size: 9px !important;
        padding-left: 0 !important;
        margin-left: -10px !important;
    }

    .glyphicon-heart, .glyphicon-user, .glyphicon-bell{
        position: static !important;
        font-size: 14px !important;
    }

    #main-header #dropdown2{
        left: -130px !important;
        /*background: red !important;*/
    }

    /*.user-logged-in-li{*/
        /*/*background: blue !important;*/
        /*position: relative!important;*/
        /*top: 0px !important;*/
        /*left: 0px !important;*/
        /*/*right: 90px !important;*/
    /*}*/

    #dropdown1 {
        left: -100% !important;
    }



   #dropdown1{
       left: -65px !important;
       top: 60px !important;
        /*/*left: 3% !important;*/
        /*/*right: 3% !important;*/
        /*width: 240px !important;*/
        /*left: 40%;*/
        /*font-size: 10px;*/
        /*background: red !important;*/
       width: 200px !important;
    }


     .glyphicon-heart span{
            /*display: none;*/
         position: static !important;
         font-size: 7px !important;
     }



     .watchlist{
         position: relative !important;
         left: -12px !important;
         top: 18px !important;
    }

    .glyphicon-heart span{
       visibility: hidden;
        width: 80px !important;
        background: black ;
        color: #fff !important;
        text-align: center;
        border-radius: 6px;
        position: absolute !important;
        z-index: 6;
        bottom: 100%;
        top: 150px !important;
        left: 50%;
        margin-left: -60px;
    }

    .glyphicon-heart span::after{
         content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    }

    .glyphicon-heart:hover span{
        visibility: visible;
    }


    .navbar-right li{
        display: inline-block !important;
    }

    .navbar-right{
        /*position: static !important;*/
        /*display: none !important;*/
        height: 0px !important;
        margin: 0 !important;
        position: relative;
        top: -50px !important;
        width: 100% !important;
        right: 0px;
        left:40%;
        /*background: red !important;*/
        /*z-index: 3 !important;*/
    }


    #main-header .bell{
        position: relative !important;
        top: 8px !important;
        left: -10px !important;
    }

    #main-header .user-logged-in, #main-header .user-loggedout{
       position: relative !important;
        top: 16px !important;
        left: 0 !important;
    }

     #main-header .user-loggedout{
         left: 30px !important;
     }

     #main-header .flag-text{
         display: none !important;
     }


    #main-header .glyphicon-heart{
        position: relative;
        /*top: -120px !important;*/
        /*bottom: 40px !important;*/
        left: 20% !important;
        /*background: red !important;*/
        /*left: -20px !important;*/
    }



    #main-header .register{
        display: none;
        top: -83px !important;
        right: -15% !important;
        /*right: 5% !important;*/
        /*left: 0 !important;*/
    }

    #main-header .login{
        top: -132px !important;
        left: 22% !important;
    }

}


.home-page-nav-pills-container{
   /*background: red !important;*/
    /*background: url('../images/background/water.jpg');*/
    /*background: #D7D9C3;*/
    /*background-size: 100% 100%;*/
    /*opacity: 0.9;*/
    /*padding: 10px;*/
    /*margin-top: -20px;*/
}

.home-page-nav-pills-container .row{
    /*margin-top: -10px;*/
    /*opacity: 1;*/
}





.home-page-nav-pills-container .row ul{
    background: #1F0101 !important;
}

@media screen and (max-width: 768px){
    .home-page-nav-pills-container .row ul{
        margin-right: 0;
        padding-bottom: 70px;
        /*background: red !important;*/
    }

    .bio{
        width: 100% !important;
        margin-top: 7px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

}


.notification-count{
    background: white;
    position: absolute;
    top:10px;
    min-width: 10px;
    height: 14px;
    right: -2px;
    padding-bottom: 4px;
    font-size: 10px;
    font-weight: 900;
    border-radius: 50%;
}


.nav-pills{
    background: #1F0101 !important;
    margin-top: 8px;
    height: auto;
    color: #F4FF77;
    /*height: 47px !important;*/
    /*padding-bottom: 15px; !important;*/
}

.nav-pills li a{
     margin-top: -8px !important;
     margin-bottom: -8px !important;
}



@media screen and (max-width: 768px) {
    .search-box-container .search-form{
        margin-left: 0px !important;
        position: relative;
        top: 5px;
        left: 38px;
    }

}

.secondary-content{
    color: #1F0101 !important;
}


.search-box-container .search-category #in_category_field{
    background: #F1DAA5 !important;
    height: 31px;
    margin-top: 15px;
    width: 90px;
    margin-left: 40px;
    border: 1px solid #F1DAA5;
    border-radius: 5px;
    /*margin-right: -10px;*/
    /*opacity: 0.6;*/
    /*padding: 3px;*/
}



.search-box-container .search-icon button[type=submit]{
     background: #F1DAA5 !important;
    height: 31px;
    font-size: 12px;
    margin-top: 15px;
    padding: 7px;
    width: 40px;
    float: left;
    margin-left: -15px;
    /*padding-left: 0 !important;*/
    border: 1px solid #F1DAA5;
    border-radius: 5px;
}

@media screen and (max-width: 768px){

   .search-box-container .search-category #in_category_field{
        /*width: 100%;*/
        margin-left: -30px;
    }

    .search-box-container{
        padding-left: 10% !important;
    }

    .search-box-container .search-icon button[type=submit]{
        /*margin-left: -50px !important;*/
    }


}




.search-box-container .search-icon a:hover{
    cursor: pointer;
    color: #fff;
}



.search-box-container form input[type=text]{
    background: #D7D9C3;
    padding: 3px;
    width: 95% !important;
    height: 23px;
    margin-top: 15px;
    border: 1px solid white;
    position: relative;
    /*left: -20px;*/
    /*margin-right: 170px;*/
    /*border-radius: 5px;*/
    /*margin-left: -10px;*/
    color: #333 !important;

}

.search-category{
    padding-right: 0 !important;
    margin-right: -5px !important;
}

.search-key {
    /*background: blue !important;*/
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.search-icon{
    padding-left: 0 !important;
    padding-right: 0 !important;
}



.search-box-container {
    /*padding-left: 70px;*/
    /*margin-right: 20px;*/
    /*/*background: red;*/
    /*width: 100%;*/
}

.home-page-container{
    margin-top: -13px;
    width: 100%;
    padding-left: 0;
    padding-right: 0 !important;
    padding-left: 20px;

}

.home-page-container .row:first-child{
    /*margin-left: 22px;*/
}

.home-page-container .col-md-7{
    /*background: red !important;*/
    padding-left: 0px;
    padding-right: 0;
    /*margin-right: -25px;*/
}






.home-page-container #carousel1{
    /*margin-right: -50px !important;*/
}
.home-page-auctions{
    margin-right: 15%;
    /*background: blue !important;*/
    margin-top: -200px !important;
    height: 220px !important;
    /*margin-bottom: -20px !important;*/
}

.home-page-auctions .all-auctions{
    /*padding-left: 40%;*/
}

.home-page-auctions .new-auction{
    /*padding-left: 5%;*/
}



@media screen and (max-width: 768px) {
    /*.home-page-auctions .all-auctions{*/
        /*margin-right: 0px !important;*/
        /*position: relative;*/
        /*left: -80px;*/
    /*}*/

     .home-page-auctions .new-auction{
         /*position: relative;*/
         /*top: -19px;*/
         /*left: 30px;*/
         padding-left: 40%;

     }




}

@media screen and (min-width: 768px) and (max-width: 1024px) {


   .home-page-auctions .new-auction{
       /*background: yellow !important;*/

    }

    #main-header{
        /*background: red !important;*/
    }


    .home-page-auctions .all-auctions{
         padding-left: 38%;

     }

    .right-sidenav{
        margin-left: 0 !important;
        width: 205px !important;
    }

    .left-sidenav{
        width: 190px !important;
    }

    #carousel1 .item img{
        /*margin-left: -20px !important;*/
    }




    #main-header .watchlist{
        /*top: 85px !important;*/
        left: 125px !important;
    }

    #main-header .user-logged-in{
        top: 60px !important;
        left: 125px !important;
    }

    #main-header .user-loggedout{
        top: 60px !important;
        left: 155px !important;
    }



    #main-header .register{
        top: 90px !important;
        left: 33px !important;
    }

    #main-header .bell{
        /*top: 90px !important;*/
        left: 173px !important;
    }

    #main-header .nigeria-flag{
        left: 275px !important;
        width: 27px !important;
    }

    #main-header .flag-text{
        left: 300px !important;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1255px) {
    #main-header{
        /*background: red !important;*/
    }

     #main-header .watch-list-li{
        /*top: 85px !important;*/
         top: -90px !important;
         left: 415px !important;
        /*left: 175px !important;*/
    }

    /*#main-header .user-logged-in{*/
        /*top: 60px !important;*/
        /*left: 125px !important;*/
    /*}*/

    /*#main-header .user-loggedout{*/
        /*top: 60px !important;*/
        /*left: 155px !important;*/
    /*}*/
    /*#main-header .glyphicon-heart {*/
        /*left: -150px !important;*/
    /*}*/

    #main-header .user-loggedout-li{
        /*left: 0px !important;*/
        left: -30px !important;
    }

     /*#main-header .register{*/
         /*right: 10px !important;*/
         /*top: -10050px !important;*/
     /*}*/

    .left-sidenav{
        /*width: 100px !important;*/
        /*padding-right: 0 !important;*/
        /*padding-left: 0 !important;*/
        /*background: red !important;*/
    }

    .right-sidenav{
        margin-left: 0 !important;
        width: 210px !important;
    }

    #main-header .nigeria-flag{
        left: -20px !important;
    }

    #main-header .glyphicon-bell{
        left: -350px !important;
    }

    #main-header .fa-shield{
        left: -80px !important;
    }

    .search-form{
        margin-left: 0 !important;
        margin-right: 10px !important;
    }

}

@media screen and  (min-width: 1255px) and (max-width: 1350px){
    #main-header{
        /*background-color: red !important;*/
    }

    .left-sidenav{
        width: 230px !important;
    }

    .right-sidenav{
        margin-left: 20px !important;
        /*width: 205px !important;*/
    }

}

@media screen and  (min-width: 1025px) and (max-width: 1225px) {
    #main-header{
        /*background: blue !important;*/
    }

     #main-header .glyphicon-user{
         top: 90px !important;
         left: -300px !important;
     }

     #main-header .register{
         top: 95px !important;
         left: -290px !important;
     }

     #main-header .login{
         top: 87px !important;
         left: -380px !important;
     }

     #main-header .glyphicon-heart{
         top: 90px !important;
         left: -360px !important;
     }

     .home-page-container .left-sidenav{
        width: 230px !important;
    }

}


.home-page-auctions a{
    color: #fff;
    /*background: black ;*/
}

.home-page-auctions{
    padding-left: 22% !important;
}




.logo-text{
  position: absolute;
    top: 34px !important;
    left: 85px;
}
.breadcrumb{
    font-size: 12px !important;
}


@media screen and (max-width: 768px)  {

    .home-page-container .col-md-7{
        margin-right: 0 !important;
    }

    .col-xs-12{
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .home-page-container .row:first-child{
        margin-left: 0;
    }

    #carousel4 .item{
        padding: 30px !important;
        padding-left: 24% !important;

    }

    #carousel4 img{
        width: 80% !important;
        height: auto !important;
    }

    .best-brand{
        padding-bottom: 10px !important;
    }


    #carousel2 img, #carousel3 img{
        width: 100%;
    }


    .home-page-container .left-sidenav{
        width: 100% !important;
    }

    .all-categories .left-sidebar{
        width: 100% !important;
        margin-right: 0 !important;
        /*background: blue !important;*/
    }


}


.page-heading {
    /*padding: 0px;*/
    /*font-size: 28px;*/
    /*font-weight: 700;*/
    /*/*z-index: 4;*/
    /*line-height: 75px;*/
    /*margin-left: -20px;*/
    /*margin-right: -20px;*/
    /*position: relative;*/
    /*/*background: url('../images/background/stars5.jpg');;*/
    /*color: 	#F3DAA0;*/
    /*float: none;*/
    /*background: red;*/
    /*display: none;*/
    margin-bottom: -38px;

}

.page-heading div{
    font-size: 14px !important;
    font-weight: 700;
    padding: 0px;
    height: 80%;
    /*background-color: red;*/
    /*opacity: 0.9;*/
    margin-left: 40%;
    width: 20%;
    position: relative;
    top: -30px;
    /*color: 	#F3DAA0;*/
}

.page-heading h5{
     /*background: red;*/
    font-size: 18px !important;

    /*position: relative;*/
    /*height: 100%;*/
}




.sub-cat-on-hover{
     /*background: #f3f4f7; !* fallback color *!*/
    /*padding: 20px;*/
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    display: none;
    position: absolute;
    left: 90% !important;
    top: 0;
    width: 780px ;
    /*add DOM break point for this style*/
    padding: 10px;
    opacity: 0.8;
    height: 370px;
    overflow: auto;
    /*color: white !important;*/
}

/*.sub-cat-on-hover a:hover{*/
    /*color: red; !important;*/
/*}*/


/*testing media queries */


.caret {
  border-color: transparent !important;
}

.form-container{
    background: #fff;
}
.left-sidebar, .right-sidebar{
    background: #ffffff;
}

.left-sidebar{
    /*border-right: 8px solid  #f2f2f2;*/
}

h1, h1 {
    font-size: 18px !important;
    margin-bottom: 30px;
    line-height: 40px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: adiNeueProBlack,Arial,Helvetica,Verdana,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.product-information {
  overflow: hidden;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-top: 60px;
  position: relative;
}

.product-information div {
    padding-left: 0;
}

.product-information h2 {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 0;
}

.product-information p {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
}

.product-information span {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 18px;
}

.product-information span span {
  color: #FE980F;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 0px;
}
.product-information span input, .price-select{
  border: 1px solid #DEDEDC;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 33px;
  outline: medium none;
  text-align: center;
  width: 50px;
}

.product-information .price-select{
    height: 50px;
}

.product-information span label {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-right: 5px;
}


.phone{
    font-size: 15px !important;
    visibility: hidden;
}

.product-information .bottom-line{
    border-bottom-style: dashed;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.product-information .bottom-line{
    border-bottom-color: #ebebeb;
}

.price-big{
    font-family: adihausregular,Arial,Helvetica,Verdana,sans-serif;
    font-weight: 700;
    font-size: 18px !important;
}
*, :after, :before {
    box-sizing: border-box;
}

.prod-description{

}



.cart {
  background: #FE980F !important;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
}

/*Change the colour*/


.rating-no-detail .star-ratings-rating-average, .rating-no-detail .star-ratings-rating-count,
.rating-no-detail .star-ratings-rating-user{
    display: none;
}
.bid-form-container{
    background: silver;
    margin-top: 13%;
    margin-left: -12px;
}

.bid-form-container .btn{
    background: #1F0101 !important;
    font-size: 75%;
    width: 100%;
    color: 	#F3DAA0 !important;
}

.bid-button{
    /*display: -webkit-flex;*/
    /*display: flex;*/
    height: 50px;
    width: 220px;
    border: 1px solid #c8cbcc;
    padding: 0 40px 0 10px;
    box-sizing: border-box;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin: 0 0 5px;
    text-transform: uppercase;
}

.product-information .select-wrapper input.select-dropdown{
    position: absolute!important;
    border-bottom: none !important;
    width: 50px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.product-information .select-wrapper span.caret{
    display: none !important;
}

.dropdown-content li>a{
      color:#428bca;
}

/*.thumbnail img{*/
    /*width: 100%;*/
    /*height: 230px;*/
/*}*/
.jumbotron{
    margin-bottom: 0;
}

.navbar{
    margin-bottom: 10px;
    border-radius: 0;
}



#post-ad {
    margin-top: 0 !important;
    background: #777 !important;
    padding-top: 0;
    font-size: 8px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

.owl-carousel .item img, .owl-carousel img {
    /*width: 950px;;*/
    height: 400px;
    /*height: auto;*/
    position: relative;
    /*position: absolute;*/
    /*height: 300px;*/
    /*max-height: 325px;*/
    display: block;
    color: transparent;
    font-size: 0;
    z-index: 1;
}

#carousel1{
    width: 100% !important;
}

@media screen and (max-width: 768px){
    #carousel1 .item{
        width: 100%;
        /*height: 250px;*/
    }

    #carousel1 img{
        height: 300px !important;
    }



}

#carousel2 img, #carousel3 img{
    width: 95% !important;
    min-height: 200px;
    height: auto;
}

#carousel2, #carousel3{
    padding-left: 15px;
    padding-right: 15px;
}

/*#carousel3 img{*/
    /*width: 100% !important;*/
    /*height: 200px !important;*/
/*}*/

#carousel4 img{
    width: 100%;
    min-height: 180px;
    /*height: auto;*/
    height: 200px;
    color: transparent;
    /*height: auto;*/
    /*border: 3px solid #777777;*/
    /*padding-left: 20px;*/

}

#carousel4{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 40px;

}




.right-sidenav{
   width: 280px;
    margin-left: 32px;

}



@media screen and (max-width: 768px){
    .right-sidenav{
        margin-left: 0 !important;
        width: 100%;
    }

    .sub-cat-on-hover{
        display: none !important;

    }


}




.categories-main .panel-heading, .best-brand .page-heading{
    font-weight: 700;
    /*margin-right: -8px;*/
    /*background-color: #f3f4f7 !important;*/
    /*opacity: 0.8;*/
    padding-left: 10px;
    /*line-height: 38px;*/
    height: 39px;
    color: #333;
    border-bottom: 1px solid #e9e9e9;
}

.main-slider .right-sidenav{
    /*margin-left: -20px !important;*/
}

.main-slider{

    /*background: #D7D9C3;*/
    background-size: 100% 1000px;
    padding-right: 0 !important;
    padding-left: 0px !important;
    padding-top: 15px;
    padding-bottom: 19px;
}

.main-slider .right-sidenav{
   /*opacity: 0.9 !important;*/
}
.categories-main a:hover{
    text-decoration: none;
    color: #e62e04 !important;
    cursor: pointer !important;
}

.categories-main .panel-body .cat-list{
    padding: 3px 0 10px;
    width: 225px !important;
}


.categories-main a{
    color: #333 !important;
}

.nav-pills{
    padding: 8px;
}


.nav-pills li a{
    color: #fff !important;
    /*font-weight: bold;*/
}

.nav-pills li a:after{
    background: red !important;
}

.nav-pills li a:hover{
    background: #F1DAA5! important;
    color: #333 !important;
}

.tab-content{
    padding-bottom: 15px;
}

/*.tab-content h5{*/
    /*color: #e62e04;*/
    /*font-weight: bold;*/
    /*!*border-bottom: 2px solid #e62e04 ;*!*/
    /*margin-left: 35%;*/
    /*margin-right: 35%;*/
    /*padding-bottom: 4px;*/
    /*margin-bottom: 10px;*/
    /*position: relative;*/
    /*top: -52px;*/
    /*font-size: 17px;*/
    /*padding: 4px;*/
    /*width: 200px;*/
    /*left: 135px;*/
    /*border-radius: 8px;*/

/*}*/

@media screen and (max-width: 768px){
    .tab-content h5{
        position: static !important;
        margin-left: 0;
        /*width: 100px;*/
    }

    .home-page-nav-pills-container ul li{
        width: 93% !important;
        margin-top: 10px;
    }

    .row{
        margin-left: 0;
        margin-right: 0;
        width: 100% !important;
    }

    .nav-pills{
        padding-left: 22px !important;
    }


}








/*.cat-select{*/
    /*background: red !important;*/
/*}*/



/*.description{*/
    /*background: red !important;*/
/*}*/
.categories-main .panel-heading, .best-brand .panel-heading{
     background: #f5d79b !important;
}
.categories-main .panel-heading span a{
    font-size: 10px;
    float: right;
    color: #333;
    padding: 5px;
    background: #f9f9f9;
    border-radius: 6px;


}

.left-sidenav{
   position: relative;
    width: 260px;

}


@media screen and (max-width: 768px){
    .left-sidenav{
        width: 100%;
}

}
mo{
    height: 400px;
}
hr{
    /*margin-bottom: 0.5em;*/
    /*margin-top: 0.5em;*/
    /*border-style: inset;*/
    /*border-width: 1px;*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*border-color: #003366;*/
}


ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

/*breadcrumbs*/

/** Breadcrumb background color
@breadcrumb-bg : #f5f5f5;
//** Breadcrumb text color
@breadcrumb-color : #ccc;
//** Text color of current page in the breadcrumb
@breadcrumb-active-color : @gray-light;
//** Textual separator for between breadcrumb elements
@breadcrumb-separator : "/";
**/
.breadcrumb{
    background: #f5f5f5;
    font-size: 5px;
}

.breadcrumb a{
    color: #333 !important;
}


/*Follower system*/

.count {
    color:#aaa;
    border:3px solid #bbb;
    border-radius:26px;
    padding:10px 20px;
    margin:20px 10px 0;
}

.follow {
    /*float:right; margin-top:-8px;*/
    /*padding: 4px !important;*/
    padding-left: 6px !important;
    padding-right: 6px !important;
    background: #12c064 !important;
    border-radius: 4px;
    font: 12px bold;
}

a {
    color:#4477bd;
    text-decoration:none;
}

a:hover {
    color:#4477bd;
}

.action {
    clear:both;
    overflow:auto;
}

/*notification*/
.notification-head{
    color: red !important;
}

/*.notifications{*/
    /*background: yellow !important;*/
/*}*/

.no-notifications{
    color: #003366;
}

.notifications a.content {
 text-decoration:none;
 background:#ccc;

 }

.notification-dropdown-li a:hover{
    text-decoration: none;
}

.notification-dropdown-li{
     border-bottom: 1px solid #ccc !important;
    /*padding-top: 4px;*/
    /*padding-bottom: 4px;*/
     max-height: 1.67em;

}



.notification-dropdown-li:last-child{
    border-bottom: none;
}





 .notification-item {
    padding:10px;
    margin:5px;
    background:#ccc;
    border-radius:4px;
 }

 .notification-badge .badge{
   border-radius: 50%;
   height: 23px;
   width: 23px;
   padding-top: 25%;
   color: #f9f9f9;
   font-weight: bold;
   padding-left: 18%;
   margin-top: 0;
}

/*end of notifications styling */

.dropdown {
    /*display:inline-block;*/
    margin-left:20px;
    /*padding:10px;*/
  }


.glyphicon-bell {

    font-size:1.5rem;
  }





 .menu-title {
     color: #1F0101;
     /*font-size:1.2rem;*/
      display:inline-block;
      }

.glyphicon-circle-arrow-right {
      margin-left:7px;
   }

.mark-as-read{
    font-size: 10px !important;
    position: absolute;
    left: 30px ;
    z-index: 5;
    display: none;
}


 .notification-heading, .notification-footer  {
 	padding:2px 5px;
       }


.dropdown-menu.divider {
  margin:5px 0;
  }

.item-title {

 font-size:1.3rem;
 color:#000;

}

.small-image{
    width: 30px;
    height: 30px;
    margin-right: -4px;
}

.notification-text{
    /*background :red !important;*/
    margin-top: -2px !important;
    position: relative;
    top: -6px;
}


/*.notification-dropdown-li{*/
    /*margin-top: 0px !important;*/
    /*margin-bottom: 0px !important;*/
    /*padding-top: 2px !important;*/
    /*padding-bottom: 2px !important;*/
/*}*/

/*.notification-image{*/
    /*float: left;*/
    /*border: none;*/
/*}*/

/*.notification-message{*/
    /*float: right;*/
    /*border: none;*/
/*}*/


/*Advanced search styling begins */
.advanced-search-form input{
    border-top: 1px solid ;
}


.advanced-search{
    /*width: 290px;*/
    color:  #F1DAA5;
    font-weight: bold;
    margin-top: 21px;
    margin-left: 0;
    /*background: #1F0101;*/
    /*margin-right: -1px;*/
}

/*.main-product-list-row{*/
    /*margin-left: 0px !important;*/
/*}*/




#advanced-search-submit{
    font-size: 0.9em !important;
    width: 100%;
    height: 32px !important;
    background: #1F0101;
    opacity: 0.9;
}

.search-container{
    padding: 0 25px 10px 15px;
    margin: 0
}

.product-list-category{
    width: 100%;
    position: relative;

    /*padding-left: 8px;*/
    /*padding-right: 8px;*/
}

.product-list-category li:first-child a{
    color: #1F0101 !important;
    /*border-bottom: 1px solid #337ab7 !important;*/
}

.product-list-category li a:hover{
    color: #428bca !important;
}

.product-list-category li:first-child{
    /*border-bottom: 1px solid #E62E04 !important;*/
}

.product-list-category li:nth-child(2){
    border-top: 1px solid #428bca !important;
}

.product-list-category .list-group-item{
    border-right: none;
    border-left: none;
    /*border-bottom: 1px solid red !important;*/
    /*border-top: 1px solid red !important;*/

}

.product-list-category .list-group-item a{
    color: #333 !important;
    font-weight: 400;
}
/*advanced search ends */

.grid-switch-button{
    background: #dee1e6 !important;
    font-size: 70% !important;
    color: #404040 !important;
    border-radius: 2px !important;
    /*width: 45%;*/
    /*padding-right: 15px !important;*/
}

.btn-holder{
    float: right;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


.product-item-container{
    margin-bottom: 5px;
    /*border: 1px solid red;*/
    padding-bottom: -30px;
}

.watch-auction{
    /*color: #E62E04;*/

    position: relative;
    top: -200px;
    left: 140px;
    z-index: 5;
    font-size: 12px;
    font-weight: 900;
    color: #F1DAA5 !important;
    background: #1F0101;
    opacity: 0.8;
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
}

.collection .watch-auction{
    position: static !important;
}

.watch-auction:hover{
    cursor: pointer;
    color: #F1DAA5;
    background: #1F0101;

}



/* grid and list view css */
.product-item-container .thumbnail
{
    padding-bottom: -10px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    /*border: 1px solid red;*/
}



.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}




.list-group-item.list-group-image{
    margin-right: 10px;
}

.list-group-image{
    width: 100% !important;
    height: 190px !important;
}

.category-detail .sub-cats .list-group-image{
    width: 300px !important;
    height: 150px !important;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 3px;
    border-bottom: 1px solid #ddd;
    color: #23527c;
    /*font-size: 1.2rem;*/
    width: 100%;
}



.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 0 0 !important;
    /*border-bottom: 1px solid #ddd;*/
    /*padding: 12px;*/
}

.product-container{
    background-color: #fff !important;
    box-shadow: #fff;
    border: 1px solid #e0e3e8;
    border-radius: 4px;
    margin: 20px 0 0 0;
    padding: 0;
    /*margin-left: -10px*/
}

/*.product-container .well-sm{*/
    /*margin-left: ;*/
/*}*/
/*grid list view ends */

.row .bid-info{
   /*padding: 12px;*/
    border-bottom: 1px solid #ddd;
}

.row .bid-info .lead{
    font-size: 10px;
}

.lead{
    font-size: 12px;
    color: #333;
    font-weight: 600;
    /*margin-left: 22px;*/
}

.lead-container{
    margin-bottom: -20px;
    /*background: red;*/
    padding-bottom: 0px
}


/*clock styling */

.myClock{
    zoom: 0.4;
    -moz-transform: scale(0.5);
    /*font-size: 14px;*/
    font-size: 34px !important;
    color: #a8a7a7;
    font-weight: bold;
    width: 100% !important;
    margin-top: 0;
    margin-bottom: 0;
}


.time-text{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}




.watch a{
    color:  #337ab7 !important;
    border-radius: 3px !important;
    /*padding: 5px 10px!important;*/
    text-align: center!important;
    /*font-size: 13px !important;*/
    background-color: transparent !important;
}

.watch a:hover, .watch a:focus{
    background-color: silver;
}


.counter{
    margin-top: -40px;
    float: none;
    padding: 45px;
    font-size: 45px !important;
    color: #337ab7;
}

.counter > div{
    display: inline;
}

.counter-text{
    font-size: 22px;
    color: #1b1b1b;
    margin-top: -4px;
}

.days, .hours, .minutes, .seconds{
    color: #080808;
    font-weight: bold;
}

/*counter ends */


.well-sm{
    background-color: #fff !important;
}

.well-sm .btn:hover{
    background-color: #E62E04 !important;
    color: #333;
}

.btn-group .btn{
    background-color: #1F0101;
    color: #F1DAA5;
    opacity: 0.9;
}

.btn-group a:hover, .btn-group a:active{
    background-color: #fff;
}

.category-list span{
    color: white !important;
    background-color:  #337ab7;
    font-size: 10px;


}

.category-list a:hover{
    text-decoration: none;
}





.header-content{
    margin-left: 21px;
}

.profile-header{
    border-bottom: 1px solid  #ccc;
    padding-left: 125px;
    text-transform: uppercase;
    padding-top: 20px;
    color: #4267b2;

}

input{
   color : #4267b2 !important;
}

.list-group-item-heading{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
    color: #4267b2 !important;
}

.list-group-item-text{
    font-size: 12px;
}

.panel-body h6{
    font-family: 'Bitter',Arial, Helvetica, sans-serif;
    line-height: 21px;
}


.user-info li{
    border: none !important;
    padding-right: 10px;
    font-size: 18px
}

/*.sub-header{*/
    /*margin-top: 0;*/
/*}*/

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter [class*='col-']:not(:first-child),
.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

/*cover and profile image */




.cover-image{
    margin: 0 auto;
    position: relative;
    height: 470px;
    width: 849px;
    margin: 0 auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    /*z-index: -1;*/
}

.profile-image-cover{
  width: 70%;
  height: auto;
  background: #D7D9C3 !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
  padding-right: -8px;
  background: #fff;
  margin-left: 33px;
}


@media screen and (max-width: 768px){
    .profile-image-cover{
        padding-right: 15px !important;
        padding-left: 0;
        width: 100%;
        margin-left: 0;
    }
}


.profile-image-cover .inner{
  height: 160px;
  width: 160px;
  border: 4px solid #fff;
  border-radius: 2px;
  /*margin: 12px;*/
  margin-left: 18px;
}

.profile-pics a{
    text-decoration: none;
    color: #365899;
    cursor: pointer;
}

.user-profile-menu{
    left: 24%;
    top: 426px;
    position: absolute;
    width: 48%;
    float: left;
    font-size: 14px !important;
    font-weight: bold;
    /*padding: 0 17px;*/
    line-height: 3.05;
    white-space: nowrap;
}

a:hover {
    color: #4477bd;
    text-decoration: none;
    background: transparent;
}

.user-home-side-menu{
    width: 100%;
}

.follow-user-container .btn-small{
    font-size: 60% !important;
    background: #fff;
    border-radius: 15px;
    border: 1px solid darkred;
    color: darkred;
    margin: auto;
}


.follow-user-container [class*="col-"]:first-child{
    padding-right: 0 !important;
}


.follow-user-container{
    /*background: red!important;*/
    padding-right: 119px;
    padding-left: 13px;
    margin-bottom: 15px !important;
    /*position: relative;*/
    /*right: 50px;*/
}
.user-home-side-menu  .panel-body{
    border-bottom: 1px solid #ddd
}

.bio{
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 10px;
    padding-bottom: 18px;
}
.user-home-side-menu .panel-body:last-child{
    border-bottom: none;
}

.user-home-side-menu a{
    color: #606060 !important;
    width: 100%;
}

.modal-footer{
    background: #1F0101 !important;
}

.modal-content h4{
    /*color: #F1DAA5;*/
    font-size: 18px;
    font-weight: bold;
    /*background: #1F0101 !important;*/
}

.modal-footer a{
    color: #F1DAA5;
}

.user-home{
    width: 100%;
    padding: 0;
}



.user-home-side-menu .heading{
    font-weight: bold;
    font-size: 18px;
}

.user-home-side-menu .heading h6{
    color: #4477bd;
    font-size: 18px !important;
}

.user-auctions .list-group-image{
    height: 180px !important;
}

.auction-text{
    font-size: 13px !important;
    margin-bottom: -4px;
}

.user-auctions .list-group-item-heading{
    padding-top: 3px;
}



.user-auctions .thumbnail{
    /*width: 190px !important;*/
    /*height: 100px;*/
}

.user-auctions .myClock{
    height: 55px;
    margin-top: -45px !important;
}

.user-auctions .caption{
    margin-top: -10px;
}
.user-auctions.item{
    padding-bottom: 10px;
}
/*.user-home-side-menu .list-group-item{*/
    /*padding: 13px;*/
    /*width: 70%;*/
/*}*/


/*password change container */

.password-change a{
    color: #333;
}

.password-change a:hover{
    color: #1F0101;
}

.password-change{
    margin-top: 15px;
    border: 1px solid #3b5998;
    width: 40%;
    padding: 5px;
    /*margin-left: 50px;*/
}
.profile-edit-button:hover{
    background: white !important;
}


@media screen and (max-width: 768px)  {
    .user-profile-menu{
        left: 55%;
        max-width: 20%;
    }

    .user-home .middle-container{
       padding-left: 0;
        padding-right: 0;
    }

    .user-home .nav-pills-container{
        margin: 0 !important;
        width: 100%;
        padding: 0 !important;
        /*background: blue !important;*/
    }

    .user-home .tab-content .item a>img{
        width: 70% !important;
        height: auto !important;
    }

    .user-home .nav-pills-container > div{
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .user-home .follow-user-container{
        /*background: red !important;*/
        padding-left: 20%;
    }

    .user-home .follow-user-container .follow-button{
        margin-left: 10px;
        margin-top: 5px;
    }

    .user-home .profile-edit-button{
        margin-bottom: 10px;
    }

    .auction-tex{
        font-size: 16px !important;
        background: red !important;
    }

    .myClock{
        font-size: 24px !important;
    }

}
.budget-plan-container{
    padding-bottom: 20px;
}



/*.budget-plan-container form .section h5{*/
    /*text-align: center;*/
    /*font-size: 18px;*/
    /*font-weight: 300;*/
/*}*/

/*.budget-plan-container form .btn{*/
    /*background-color: #1F0101 !important;*/
    /*font-size: 75%;*/
/*}*/

/*.budget-plan-container form .submit-button{*/
    /*margin-left: 35%;*/
/*}*/


.budget-plan-container .budget-image{
    position: relative;
    overflow: hidden;
    margin: 10px;
    margin-bottom: 10px;
}

.budget-plan-container .budget-image input#upload{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    display: none;
    opacity: 0;
    filter: alpha(opacity=0);
    /*background-color: red !important;*/
}

.budget-plan-container button{
    background-color: #1F0101 !important;
    font-size: 75%;
}

.budget-plan-container .budget-image .btn-circle{
    /*width: 100%;*/
    /*height:0;*/
	/*padding-bottom: 100%;*/
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 6px;
    padding-bottom: 2px;
    background-color: #1F0101 !important;
    font-size: 75%;

    /*padding-bottom: 50%;*/
}

.budget-plan-container .budget-image button i{
   display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    text-align:center;
}

.budget-plan-container .budget-image #uploadFile{
    width: 80%;
    padding-left: 33%;
}


.budget-notify span{
    display: none;
    color: #333;
    font-size: 10px;
}

.budget-text{
    font-size: 12px;
    color: #333
}

.budget-text:hover .tooltiptext{
    visibility: visible;
}



.tooltiptext{
    visibility: hidden;
    width: 170px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    padding-left: 10px;

     /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: -10px;
}

/*.budget-notify span{*/
    /*position: absolute;*/
    /*top: -10px;*/
/*}*/

/*.budget-notify i:hover + span{*/
    /*display: block;*/
    /*/*position: absolute;*/
    /*/*top: -18px;*/
/*}*/

/*google chrome and safari*/
.budget-plan-container .budget-image #uploadFile::-webkit-input-placeholder{
     color: orangered !important;
    font-weight: bold !important;
    margin-left: 10px;
}

/*internet explorer and firefox*/

.budget-plan-container .budget-image #uploadFile:-ms-input-placeholder,
.budget-plan-container .budget-image #uploadFile::-moz-placeholder {
    color: orangered !important;
    /*font-weight: bold !important;*/
    /*margin-left: 10px;*/
}

.budget-plan-container form{
    /*background: blue !important;*/
    height: 95%;
}


.budget-plan-container .title, .price{
    /*background: red !important;*/
    margin-left: 7%;
}

.budget-plan-container .time{
    margin-right: 10%;
}


.budget-plan-container .fieldWrapper{
    padding: 18px;
}

.budget-plan-container .panel-heading{
    padding: 10px;
    background: #1F0101 !important;
    color: #fff;
    /*width: 100% !important;*/
}

.budget-plan-container .errors{
    color: #a30029;
    font-size: 12px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}



.footer-container{
   background-image: url('../images/background/header-bg.jpg');
   background-size: 100%;
   width: 100%;
   /*position: fixed;*/
   left: 0;
   bottom: 0;
}

footer{
    background: #1F0101;
    margin-bottom: 0;
    margin-top: 40px;
    /*position: relative;*/
    /*height: 250px;*/
}

.main-footer{
    position: absolute;
    right: 0;
    left: 0;

}

.footer{
    margin: 0;
    padding: 0;
    background: #1E0000;
    width: 100%;
    opacity: 0.9;
}

.footer-header{
   background: #F3DAA0 ;
    margin-left: 40px !important;
    margin-right: 40px !important;
    padding: 13px;
    /*opacity: 0.6 !important;*/
    /*margin-top: -20px !important;*/
    /*width: 900px !important;*/
}

.footer a{
    color: #fff !important;
}


.footer ul li{
    padding: 7px;
}

.footer-subcontent li a{
    color: #333 !important;
}

.footer-subcontent{
    color: #333 !important;
    padding-left: 6%;
    background: #fff !important;

}

.footer-subcontent div{
    /*margin-right: 5% !important;*/
}
.footer-subcontent .heading{
    font-weight: 600;
}

.footer-subcontent .social-media .facebook{
    color: #3b5998 !important;
    font-size: 20px;
    margin-right: 5px !important;
}

.footer-subcontent .social-media .twitter{
    color: #55acee !important;
    font-size: 20px;
}

.footer-subcontent .social-media{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    /*position: relative;*/
    padding-left: 9%;
    /*left: 20%;*/
}

.footer-subcontent .social-media a{
    padding-right: 25px ;
}

.footer-subcontent .social-media a:last-child{
    padding-right: 0 ;
}


.footer-subcontent .social-media .instagram{
    color: #e95950 !important;
    font-size: 20px;
}


.footer-contact-info{
    background: #1F0101;
    position: relative;
    bottom: -20px !important;

}



.footer-contact-info img{
    margin-left: 42%;
}


.footer-contact-info .label{
    position: relative;
    left: -3%;
    /*color: red !important;*/
}

.all-rights{
    position: relative;
    /*bottom: -60px;*/
    font-size: 12px;
    top: 20px;
}

.richtext{
    padding-left: 20px;
    padding-right: 20px;
}

/*.all-categories .col-lg-3:nth-child(4n+1){*/
    /*clear: left;*/
/*}*/

/*@media (min-width:992px){*/
    /*.row.auto-clear .col-md-4:nth-child(3n+1){clear:left;}*/
/*}*/


/*Bootstrap column heigh issue fix*/


/*.col-xs-6:nth-of-type(2n+3),*/
/*.col-xs-4:nth-of-type(3n+4),*/
/*.col-xs-3:nth-of-type(4n+5),*/
/*.col-xs-2:nth-of-type(6n+7),*/
/*.col-xs-1:nth-of-type(12n+13)*/
/*{*/
    /*clear: both;*/
/*}*/

/*@media (min-width: 768) {*/
    /*[class*="col-xs"][class*="col-sm"],*/
    /*[class*="col-xs"][class*="col-md"],*/
    /*[class*="col-xs"][class*="col-lg"]*/
    /*{*/
        /*clear: none;*/
    /*}*/

    /*.col-sm-6:nth-of-type(2n+3),*/
    /*.col-sm-4:nth-of-type(3n+4),*/
    /*.col-sm-3:nth-of-type(4n+5),*/
    /*.col-sm-2:nth-of-type(6n+7),*/
    /*.col-sm-1:nth-of-type(12n+13)*/
    /*{*/
        /*clear: both;*/
    /*}*/
/*}*/

/*@media (min-width: 992) {*/
    /*[class*="col-sm"][class*="col-md"],*/
    /*[class*="col-sm"][class*="col-lg"]*/
    /*{*/
        /*clear: none;*/
    /*}*/

    /*.col-md-6:nth-of-type(2n+3),*/
    /*.col-md-4:nth-of-type(3n+4),*/
    /*.col-md-3:nth-of-type(4n+5),*/
    /*.col-md-2:nth-of-type(6n+7),*/
    /*.col-md-1:nth-of-type(12n+13)*/
    /*{*/
        /*clear: both;*/
    /*}*/
/*}*/

/*@media (min-width: 1200px) {*/
    /*[class*="col-md"][class*="col-lg"]*/
    /*{*/
        /*clear: none;*/
    /*}*/

    /*.col-lg-6:nth-of-type(2n+3),*/
    /*.col-lg-4:nth-of-type(3n+4),*/
    /*.col-lg-3:nth-of-type(4n+5),*/
    /*.col-lg-2:nth-of-type(6n+7),*/
    /*.col-lg-1:nth-of-type(12n+13) {*/
        /*clear: both;*/
    /*}*/
/*}*/


/*.col-nobreak {*/
    /*clear: none !important;*/
/*}*/



/*[class*="col-"] {*/
    /*padding: 30px;*/
    /*margin-bottom: 10px;*/
/*}*/


