{% load auction_tags %}
{% load static %}
{% load material_form %}


{% block content %}
<!--{{c}}-->
<!--{{ca}}-->
<!--{{owner}}-->
<!--{{list}}-->
<!--{{pr}}-->
<!--{{watch_list}}-->
<!--{% for i in watch_list %}-->
<!--{{i.creator}}-->
<!--{% endfor %}-->
    <div id="products" class="row list-group">


                {% for auction in items %}
                {% if auction.available %}
                    <div class="item  col-xs-12 col-md-3 col-sm-3 product-item-container ">
                        <!--place{{auction.place_on_auction}}-->
                        <div class="thumbnail box">
                            {% if auction.image %}
                                <a href="{% url 'auctions:bid' auction.id %}"><img class="group list-group-image" src="{{ auction.image.url }}" alt="" /></a>
                            {% else %}
                                <a href="{% url 'auctions:bid' auction.id %}"><img class="group list-group-image" src="{% static 'images/no_image.png' %}" alt="" /></a>
                            {% endif %}
                            <div class="caption">
                                {% if not request.user.is_anonymous %}
                                    <a hre="#" class="watch-auction" data-action="{%  if auction in watch_list and request.user in owner %}unwatch{% else %}watch{% endif %}" data-id="{{auction.id}}" id="{{auction.id}}">
                                        <span>
                                            {% if auction in watch_list and request.user in owner %}
                                               Unwatch
                                            {% else %}
                                               Watch
                                            {% endif %}
                                        </span>
                                        <!--<span class="glyphicon glyphicon-eye-open "></span>-->
                                    </a>
                                {% endif %}
                                <h4 class="group inner list-group-item-heading">{{ auction.item }}</h4>
                                <p class="group inner list-group-item-text"></p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 text-center lead-container">
                                        <p class="lead">N{{ auction.get_current_price }}</p>

                                    </div>
                                    <!--<div class="col-xs-12 col-md-6">-->
                                        <!--<a class="btn btn-flat" href="http://www.jquery2dotnet.com">BID</a>-->
                                    <!--</div>-->
                                </div> <!-- end of row class for price and bid -->
                                {% if auction.place_on_auction %}
                                    <div class="row myClock" style="margin-top: -49px" data-action='{{ auction.end_time|to_json }}'>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 days"></div>
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hours"></div>
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 minutes"></div>
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 seconds"></div>
                                        </div>
                                        <div class="row time-info">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">Days</div>
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">Hours</div>
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">Minutes</div>
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 counter-text">Seconds</div>
                                        </div> <!-- counter text ends here -->
                                    </div>
                                {% endif %}
                            </div>  <!-- end of caption -->
                        </div> <!-- end of thumbnail -->
                    </div> <!-- end of column -->
                {% endif %}
                {% endfor %}
            </div>
            <!--End of products -->


{% endblock %}