{% load auction_tags %}
{% load static %}
{% load ratings %}
{% load bootstrap_pagination %}


{% block content %}
    <div class="row white-background products">
        {% for auction in items %}
            {% if auction.available %}
                <div class="col-xs-6 col-sm-4 col-md-4 box">
                    <div class="product product-single">
                        <div class="product-thumb">
                            <a href="{% url 'auctions:bid' auction.id %}" class="main-btn quick-view"><i class="fa fa-search-plus"></i>view</a>
                            {% with auction.image.all|first as image %}
                                {% if image.image %}
                                    <a href="{% url 'auctions:bid' auction.id %}"><img class="group list-group-image" src="{{ image.image.url }}" alt="" /></a>
                                {% else %}
                                    <a href="{% url 'auctions:bid' auction.id %}"><img class="group list-group-image" src="{% static 'images/no_image.png' %}" alt="" /></a>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="caption product-body">
                            <h4 class="product-price"><span>&#x20A6</span>{{ auction.get_current_price }}</h4>
                            <div class="product-rating row"><span class="rating-no-detail text-center">{% ratings auction 12 12 %}</span></div>
                            <div class="row"><h2 class="product-name"><a href="{% url 'auctions:bid' auction.pk %}">{{ auction }}</a></h2></div>
                            {% if auction.place_on_auction %}
                                <div class="row myClock" data-action='{{ auction.end_time|to_json }}'>
                                    <ul class="product-countdown">
                                        <li><span class="days">00</span></li>
                                        <li><span class="hours">00 H</span></li>
                                        <li><span class="minutes">00 M</span></li>
                                        <li><span class="seconds">00 S</span></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>  <!-- end of caption -->
                        <div class="row simpleCart_shelfItem text-center watch-auction">
                            {% if not request.user.is_anonymous %}
                                <p>
                                    <a class="item_add watch-auction" data-action="{%  if auction in watch_list and request.user in owner %}Watching{% else %}watch{% endif %}" data-id="{{auction.id}}" id="{{auction.id}}">
                                        {% if auction in watch_list and request.user in owner %}
                                            Watcing
                                        {% else %}
                                            Watch
                                        {% endif %}
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                    </div> <!-- end of thumbnail -->
                </div> <!-- end of column -->
            {% endif %}
        {% endfor %}
    </div>

    <div class="pagination-row text-center">
        {% bootstrap_paginate  items range=10 show_prev_next="false" show_first_last="true" %}
    </div>
{% endblock %}