
{% load static %}
{% load material_form %}


{% block content %}



<div class="container">
    <div class="row">
        <form method="get" action="{% url 'auctions:list' %}">
            {% csrf_token %}
            <!--<div class="col-xs-8 col-sm-12 col-md-12">-->
                <div class="input-group">
                    <div class="row">
                        <div class="search-category col-xs-2 col-sm-2">{{ form.in_category }}</div>
                        <div class="search-key col-xs-8 col-sm-8 col-md-8">{{ form.s_key }}</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 search-icon text-center">
                            <button type="submit" name="g_search" value="submit1"><span class="glyphicon glyphicon-search"></span></button>
                        </div>

                        <!--{{ search }}-->
                    </div>
                </div>

            <!--</div>-->
        </form>


    </div>

</div>


{% block extrajs %}

{% endblock %}

{% endblock %}